[2020-12-06 18:34] ZurMaD commented on #2520
@zhiltsov-max yes, looks like PASCAL doesn't work with that. I will check the requirements before starting labeling to a format. Thanks for answering, I will close the comment.

[2020-12-06 18:34] #2520 closed

[2020-12-07 02:20] QuarTerll commented on #2529
@glenn-jocher Can you help me with that? What can I do?

[2020-12-07 02:34] glenn-jocher commented on #2529
@QuarTerll I don't maintain this repository, I maintain Ultralytics YOLOv3 and YOLOv5.

[2020-12-07 02:37] QuarTerll commented on #2529
@glenn-jocher ops， srrrrry... I was working on yolov5 recently. So I just remind your name when I get in trouble... Sorry to bother :<

[2020-12-07 02:48] QuarTerll commented on #2529
I found that the logs show "Run SiamMask Model" every time when my inference runs. So I guess the SiamMask model is to draw something on the image such rectangle.

Then I just found that this is a model called SiamMask in the serverless directory. So I am trying to deploy this model first then try to do the Automatic Annotation again.  Hope it can work :)

[2020-12-07 05:57] QuarTerll commented on #2529
@nmanovic Could you please help me with that? What can I do?

For now, my local "SiamMask Model" is still building. It already passed three hours and I cannot see any logs :<

[2020-12-07 09:50] yasakova-anastasia commented on #2511
Hi, @peyman-sabouri
I have not been able to reproduce the issue on the develop branch. I received only small deviations in the fourth digit after the decimal point, which is rather the norm. Could you share the commit hash, annotation file and image please?

[2020-12-07 10:03] QuarTerll commented on #2529
I have finished deployed the SiamMask model and It is still not working. On the local website of cvat, it shows the following.
![image](https://user-images.githubusercontent.com/49419815/101337192-579c5a80-38b6-11eb-8702-ae982dc9c4e0.png)

[2020-12-07 11:01] ZahraAnam opened #2533 "How to handle annotation change over time?"
I am trying to use CVAT for annotating the videos of children playing in the playroom and video is around the room. Therefore sometime a person or object disappears for some frames and appears again, I was wondering how can I tackle this problem. Coz hidind and deleting are not the solutions.
Besides merge icon is also not working, I was wondering if you guys can guide me about it.

[2020-12-07 12:13] nmanovic commented on #2532
@thuyngch , I think it is possible. Let me know if you can contribute the future. It should not very difficult.

[2020-12-07 12:15] nmanovic commented on #2522
We don't support kubernetes deployment for nuclio functions yet.

[2020-12-07 12:17] nmanovic commented on #2521
Need to fix the limitation. What is the reasonable limitation from your point of view? How did you use CVAT? Probably we can try to find an alternative way to solve the issue.

[2020-12-07 12:19] nmanovic commented on #2463
I don't understand your feature request. You don't follow our template. I will close the issue.

[2020-12-07 12:19] #2463 closed

[2020-12-07 12:21] nmanovic commented on #2398
@aschernov , could you please prepare documentation for the projects feature?

[2020-12-07 12:23] nmanovic commented on #2374
@xuchenCN , could you please explain why do you need it? I will suggest discussing the feature on gitter and transform to a feature request. I will close the issue for now.

[2020-12-07 12:23] #2374 closed

[2020-12-07 12:26] nmanovic commented on #2474
@NaLaUer , try to rebuild. Be sure that you have enough memory on your server. I will close the issue. No reply more than 10 days.

[2020-12-07 12:26] #2474 closed

[2020-12-07 12:28] nmanovic commented on #2239
@Saikat0044 , hope the issue was resolved. I will close it.

[2020-12-07 12:28] #2239 closed

[2020-12-07 12:30] nmanovic commented on #2066
@cstamatopoulos , please look at projects feature. Let us know if it helps.

[2020-12-07 12:31] nmanovic commented on #2066
@ActiveChooN , please don't forget to update the issue when "rename" of labels and attributes will be implemented as well.

[2020-12-07 13:16] riyamittal34 opened #2537 "Error when Accessing CVAT from an Iframe"
Hi,

I am trying to access CVAT in an iframe inside my application. I am facing following errors -

1. when I open CVAT on a new tab, in that case on clicking on job it opens the canvas properly and I am able to create annotations. But from iframe when I am clicking on Job then instead of opening the canvas it is giving 401 authorization error.

2. Similarly, when I am adding or updating labels of

[2020-12-07 13:58] nmanovic commented on #2537
@riyamittal34 , thanks for the report. We will look into the issue.

[2020-12-08 01:43] QuarTerll commented on #2529
I have finished deployed the "saic_vul" model in the directory named serverless/pytorch and It is still not working. On the local website of cvat, it shows that "Automatic annotation finished for task 17". However, there is still no annotations showed on my image dataset.
![Uploading image.png…]()

So, @nmanovic, I see that you add a milestone hmmmmm... Does it mean that this function is not finis

[2020-12-08 05:55] leemengxing opened #2538 "gyp ERP! find Python"
hello, when I pull the devlop and run docker-compose build comannd. I find docker-ui build will happen the bug.

gyp ERR! find Python
gyp ERR! find Python Python is not set from command line or npm configuration
gyp ERR! find Python Python is not set from environment variable PYTHON
gyp ERR! find Python checking if "python" can be used
gyp ERR! find Python - "python" is not in PATH or produced an

[2020-12-08 07:01] jahaniam commented on #2489
@nmanovic I agree that there are many missing steps in the documentation for semi annotation and I had to dig into codes in both cvat and nuclio. After some digging, finally, I was able to run the tensorflow fasterRCNN model on the GPU. I will do a PR soon.

[2020-12-08 08:35] aschernov opened #2540 "Arrows up and down in AAM"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

The buttons "arrow up" and "arrow down" should highlight corresponding attributes
### Current Behaviour

When we press "arrow up" in AAM we move to a lower attribute and vice versa pressing "arrow down" we m

[2020-12-08 09:09] jahaniam commented on #2529
@QuarTerll There are a couple of issues in the semi-automatic nuctl pipeline I will address them in my soon-to-be PR for the Automatic annotation probably by tomorrow. The major one is that make sure to install nuctl 1.4.8 for now, until I update the documentation and boost the version to new versions. If you are still having problems I suggest wait a couple of days, I will ping you here when I am

[2020-12-08 13:28] beep-love opened #2541 "Could not get models from the server"
### My actions before raising this issue

- Hi, I was following the instructions as per https://github.com/openvinotoolkit/cvat/blob/develop/cvat/apps/documentation/installation.md .

- As per the document I was able to compose docker for CVAT and the tool was successfully hosted at http://localhost:8080/

- After the deployment, i was also able to compose a serverless component from docker using

[2020-12-08 13:39] beep-love commented on #2529
I had a problem with nuctl 1.4.8 while deploying functions, but was able to do with 1.5.7

However, models didn't appear @ http://localhost:8080/models

![nucleo error](https://user-images.githubusercontent.com/61371246/101490612-b3d0ae80-398a-11eb-8116-6b21392d9500.PNG)

I have also submitted the full issue at Issue#2541

Can you please help me on this as well?

Is it something related with versi

[2020-12-08 13:42] azhavoro commented on #2541
@beep-love Hi, please attach logs from cvat container: `docker logs cvat > cvat.log`

[2020-12-08 13:54] beep-love commented on #2541
PFA

[cvat.log](https://github.com/openvinotoolkit/cvat/files/5659625/cvat.log)

[2020-12-08 14:29] jahaniam commented on #2529
@beep-love yes, most likely.
 Change [line](https://github.com/openvinotoolkit/cvat/blob/develop/components/serverless/docker-compose.serverless.yml#L5)
Change the version to 1.5.7
Then rebuild the container.
`docker-compose -f docker-compose.yml -f components/serverless/docker-compose.serverless.yml up —build`

To debug the functions, you can use nuclio dashboard at localhost:8070 make sure the f

[2020-12-08 15:13] beep-love commented on #2529
Changed the line.

Also, I have a running instance of the function in my nuclio dashboard

Still the same error!

I have renamed my nuclio release file from **nuctl-1.5.7-linux-amd64** to **nuctl-1.5.7**

Does that make any difference to this relating problem?

[2020-12-08 16:14] beep-love commented on #2541
I changed the [ line](https://github.com/openvinotoolkit/cvat/blob/develop/components/serverless/docker-compose.serverless.yml#L5) since I am using version nuclio 1.5.7

and rebuild the composer.

I have attached the updated log file after doing this.
[cvat.log](https://github.com/openvinotoolkit/cvat/files/5660398/cvat.log)

[2020-12-08 20:40] jahaniam commented on #2529
How do you deploy your function?

```nuctl-1.5.7 deploy ....```

Put a screenshot from your `docker ps -a` and also the nuclio dashboard -> in cvat that shows the function is up and running

[2020-12-08 20:43] jahaniam commented on #2529
@QuarTerll it might be due to the label. It might be an int instead of 0.0 .double check that

[2020-12-09 04:13] MagicCodess opened #2542 "toomanyrequests: You have reached your pull rate limit"
ERROR: Service 'cvat' failed to build : toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit

[2020-12-09 04:43] beep-love commented on #2529
Command to deploy function
[code]

And the sc for ``` docker ps -a ``` with nuclio dashboard's sc :

![docker ps -a](https://user-images.githubusercontent.com/61371246/101586074-3c8e2f80-3a09-11eb-8fed-907435473c24.PNG)

![nuclio dashboard](https://user-images.githubusercontent.com/61371246/101586100-49128800-3a09-11eb-9008-7b49524ac06e.PNG)

[2020-12-09 05:04] gen-ko commented on #2529
Same here. Able to finish the automatic annotation, but no actual annotation is displayed after complete and click into the job. While the result of using AI tools is fine.  It seems there is a problem in saving the results of automatic annotation.

[2020-12-09 05:39] QuarTerll commented on #2529
@jahaniam Thanks for your help.
For the moment, I checked that in my YAML file, there is something like int such as id: 0, but my response is 0.0.
However, it is still not working after I just tried to use labels of an int instead of float, such as 0 instead of 0.0.

And another question:
Is my response type correct?
I didn't find the interface docs. I just followed one of [the sample code](https:

[2020-12-09 06:41] jahaniam commented on #2529
looks ok to me. I don't know why it's not working for you. Try without sudo and give it `chmod +x nuctl-1.5.7`
I've seen in the logs some errors of permissions for nuctl. Before deploying remove the current function as well using dashboard.

[2020-12-09 06:54] azhavoro commented on #2542
There are new Docker policies, unfortunately we cannot change them.

[2020-12-09 06:54] jahaniam commented on #2541
GET http://localhost:8080/api/v1/lambda/functions 500 (Internal xhr.js:184 GET http://localhost:8080/api/v1/lambda/functions 500 (Internal Server Error)

Your error happens within the function.
do the docker ps -a and find the container that is related to it. Should start with: `nuclio-nuclio-....`
then do `docker log <NAME>` you will see the actual error.

[2020-12-09 07:44] jcchr opened #2543 "Wrong parametrization of the rqscheduler instance"
### My actions before raising this issue
- [x ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x ] Searched [past issues](/issues)

In the 46th line of the https://github.com/openvinotoolkit/cvat/blob/develop/supervisord.conf file there is a command that starts the rqscheduler - and as the --host parameter in this line there is a "redis" value hardcoded. The

[2020-12-09 07:50] azhavoro commented on #2543
@jcchr Hi, thanks for the issue, may I ask you to help us fix this? Thanks.

[2020-12-09 09:49] #2523 closed

[2020-12-09 10:12] ZahraAnam opened #2548 "smb mounting and share path"
Hi! I just started working with Cvat and its amazing tool.
But I work in Organization and videos of people thus we have very strict data protection policies and all the storage is on Local server and access is with smb protocol.
Now I am able to install and start s3fs working but can not mount or share materials from smb, I don't want to create amazon bucket and upload my data any where to not get

[2020-12-09 10:48] aschernov opened #2550 "Review mode suggestions"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

We have several suggestions how to improve the review mode:

- [ ] Add an opportunity to delete mistakenly added review issues

- [ ] Ctrl+Z should also works to decline added issues

- [ ] If the mouse curs

[2020-12-09 11:31] azhavoro commented on #2446
Full stack:
[code]

From https://wiki.debian.org/ContinuousIntegration/TriagingTips/openssl-1.1.1: "This is caused by the SECLEVEL 2 setting the security level to 112 bit. This means that RSA and DHE keys need to be at least 2048 bit long"

So, I think it's not a good idea to reduce the SECLEVEL in `/etc/ssl/openssl.cnf` by default, but you try to do it for your installation.

If you still have qu

[2020-12-09 11:31] #2446 closed

[2020-12-09 11:48] beep-love commented on #2127
Yeah. It was the same issue. Mine worked with v 1.5.7.

[2020-12-09 11:49] #2541 closed

[2020-12-09 11:51] beep-love commented on #2541
@jahaniam Thanks for the help. It worked after deleting the functions from nuclio dashboard before rebuilding the function. I was able to load models and auto annotate with faster RCNN function.

Regards

[2020-12-09 13:31] #2538 closed

[2020-12-09 13:49] azhavoro commented on #2533
Please use the `Outside` property for the tracks https://github.com/openvinotoolkit/cvat/blob/develop/cvat/apps/documentation/user_guide.md#track-mode-basics

[2020-12-09 13:49] #2533 closed

[2020-12-09 14:48] #1703 closed

[2020-12-09 15:16] ilouzl commented on #500
I'm getting the same error when trying to load "cvat for video" annotations into a task.
The task contains several jobs (video splits), but I noticed that if I add a new task without splitting the video to jobs, annotation load is successful (of course using the same video and annotation files).
I'm on version https://github.com/openvinotoolkit/cvat/releases/tag/v1.2.0-alpha

[2020-12-09 16:54] chiboreache opened #2553 "[ Feature Request ] Straight Polygon Tool"
Press `Shift` and make 90 degrees lines

[2020-12-09 18:02] bsekachev commented on #500
@ilouzl

It would be helpful if you provide a video and annotations to stable reproducing the issue. I understand that they may be private. Just  it would dramatically simplify issue reproducing and consequently fixing.

[2020-12-09 20:34] markl21 opened #2554 "CVAT Attribute Selection Raises Error"
### My actions before raising this issue
-  Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
-  Searched [past issues](/issues)
- Installed CVAT in Google Cloud Compute Engine

### Expected Behaviour
When selecting an attribute for an annotation label, the label should take on selected attribute

### Current Behaviour
When selecting an attribute, an error is raise

[2020-12-09 23:57] ilouzl commented on #500
@bsekachev you're right.
Attached is a dummy video and annotations that raises the same error.
[Archive.zip](https://github.com/openvinotoolkit/cvat/files/5669401/Archive.zip)

[2020-12-10 02:21] jijinexp commented on #2521
One of my attributes consists of car models, there are quite a few variations in models. I think max length for attributes is limited to 4096. This could be the limitation in my view.

[2020-12-10 06:58] bsekachev commented on #2554
@markl21 Could you please send us attribute specification?
To do it click "Copy" button and then paste in the issue

![Screenshot from 2020-12-10 09-57-27](https://user-images.githubusercontent.com/40690378/101732369-272f0900-3ace-11eb-8ce3-796061ba5be2.png)

[2020-12-10 07:17] bsekachev commented on #2554
@markl21

Also it would be useful if you attached CVAT version (top right menu -> about) and git commit hash.

[2020-12-10 10:54] MarioProjects commented on #1849
The software is amazing!! A brush could speed up the segmentation in a lot of problems, waiting for it! Thanks again

[2020-12-10 12:25] leemengxing commented on #2529
the same to me, look the docker contrainer logs.
![image](https://user-images.githubusercontent.com/24696984/101771945-a865ba80-3b25-11eb-998c-57e3cc970bba.png)
![image](https://user-images.githubusercontent.com/24696984/101772004-c3382f00-3b25-11eb-8a07-da4a61f9a7b5.png)

[2020-12-10 16:04] kevincolyar commented on #2330
I have the same issue when trying to export a dataset.  Reports downloading a 4GB file via Chrome, but the resulting 'dataset' file is empty.

[2020-12-11 03:52] leemengxing commented on #2529
I tested the base64 images in nuclio dashboard and it returned the result normally.
![image](https://user-images.githubusercontent.com/24696984/101859752-49488a00-3ba7-11eb-95f9-4b9e84f764d8.png)

[2020-12-11 05:10] KuldeepPCodes commented on #1183
hi i am having the same problem , i using the 3rd method Remote one and also i am passing an array in which ,i have provided on link with jpg as extension. this is the code, i have removed the auth . please help

image_data = {
    'image_quality':70,
'remote_files': ["https://images.livemint.com/rf/Image-621x414/LiveMint/Period2/2018/03/17/Photos/Processed/birds-kXAE--621x414@LiveMint-70cb.jpg"],

[2020-12-11 05:30] KuldeepPCodes commented on #493
hi i am also trying to add a image to task created by Rest end points but get an Value-Error saying :=#raise ValueError('No media data found')
cvat          | ValueError: No media data found

[2020-12-11 07:20] azhavoro commented on #1183
@KuldeepPCodes Hi, we provide simple command line tool (utils/cli.py) that supports this case. Please inspect the code regarding remote files https://github.com/openvinotoolkit/cvat/blob/develop/utils/cli/core/core.py#L35-L36

[2020-12-11 09:16] xuchenCN commented on #2374
Hi @nmanovic , in my project I need provide CVAT service instance per user.

I know CVAT is design for multi user with one instance, it can scale the `cvat-server` replicas behind `cvat-ui(Nginx)` and involved `nuclio` to solve the performace issue.

But it still hard to intigrate with my project cause redirect to absolute path "/".

I can only deploy CVAT in the wildcard domain like `cvat.xxxx.co

[2020-12-11 09:26] kairikibear opened #2557 "Status code 500 Internal Server Error when uploading cvat 1.1 for images annotations (500MB of size)"
### My actions before raising this issue
- [done] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [done] Searched [past issues](/issues)

Basically, i have a huge object detection dataset (nearly 200 GBs of size) which has been annotated beforehand using YOLOMARK, and i want to further annotate them with attributes. The idea is i want to reuse the annotated box

[2020-12-11 09:27] nmanovic commented on #2374
Please send me a private message on gitter. I want to understand your use case better. I really believe that the proposed solution isn't the best for your case. Based on my experience it will lead to many issues after that. I hope together we will find an appropriate solution. Better to configure proxy to emulate something like that or add a specific feature into CVAT to support your use case.

[2020-12-11 11:45] jcchr commented on #2543
The correction is in the following fork: https://github.com/jcchr/cvat

[2020-12-11 12:20] manybodycpa opened #2560 "Cannot edit labels when creating tasks via API"
I am creating tasks via the API, including the definition of labels and an upload of annotations. I noticed that initially, annotations cannot be modified. The error is

`Error: Trying to save an attribute attribute with id 30 and invalid value`

The same problem and a workaround were mentioned on Gitter:

[code]

Can you let us know how to avoid this issue in the first place? Thank you so much.

[2020-12-11 12:30] azhavoro commented on #2560
@manybodycpa
Hi, could you provide the detailed steps to reproduce the issue?

[2020-12-11 13:53] manybodycpa commented on #2560
Some more information:

* The problem only occurs if the label has attributes.
* The problem can be solved by clicking on "Raw" and then on "Done" without making any changes.

We proceed as follows with the task creation:

* create empty task
* upload video
* upload annotations

The corresponding functions are (dropping unnecessary parts):

[code]

[2020-12-11 13:55] manybodycpa commented on #2560
[code]

[2020-12-13 10:10] ilouzl commented on #2560
Try adding default value for every attribute, for example - "default_value": "true" for the first attribute

[2020-12-14 01:32] QuarTerll commented on #2529
I guess it may be some bugs there about the function of drawing a rectangle.

I am trying to do this semi-anna myself. I will do the inference and save the results by some type of dataset and load them to the CVAT platform and then do the annotations.

[2020-12-14 02:16] xyc2690 commented on #2317
Any update? How could I help to do it?

[2020-12-14 05:30] BhargaviChintanippu opened #2567 "Couldn't Install nuclio on Ubuntu 18.04"
Hi,

OS : Ubuntu 18.04

I have recently started working on CVAT  to auto annotate my datasets for the custom model.
Below are the steps I have followed for CVAT:
   1.I have followed all the steps for installing CVAT from [here](https://github.com/openvinotoolkit/cvat/blob/develop/cvat/apps/documentation/installation.md#semi-automatic-and-automatic-annotation)

   2.Able to open CVAT Tool(localhos

[2020-12-14 06:10] veer5551 commented on #2567
Hi,
You need to execute the command as follows: `./ nuctl-1.5.8-linux-amd64 xxxxxx`
Or you can Rename your file to `nuctl` to use just the `./nuctl xxxxxx`

[2020-12-14 07:07] tankienleong opened #2569 "some bounding boxes coordinate in xml file (pascal voc format) are not correct"
I noticed some bounding boxes are shifted after I saved the annotation.

Then, I use other annotation tool [https://github.com/tzutalin/labelImg](url) to load the annotation files export by cvat and it also shows some bounding boxes are shifted.

[2020-12-14 07:33] #2501 closed

[2020-12-14 07:46] azhavoro commented on #2567
@veer5551 thanks for the answer, I think the issue can be closed.

[2020-12-14 07:46] #2567 closed

[2020-12-14 07:54] azhavoro commented on #2542
Let's keep the question open, it might be better to look for another docker registry.

[2020-12-14 07:59] azhavoro commented on #2511
@yasakova-anastasia There may be the similar issue: #2569

[2020-12-14 08:29] manybodycpa commented on #2560
@ilouzl  Thanks, that worked perfectly.

[2020-12-14 09:19] zhiltsov-max commented on #2569
Can you give more information about the annotations and differences, maybe some screenshots?

[2020-12-14 09:27] zhiltsov-max commented on #2557
Hi, please check if there are any messages like `child process exited with code -9` and Out-Of-Memory errors in the system log (`dmesg -HTw` on Linux).

[2020-12-14 10:55] kairikibear commented on #2557
thanks for the response, i will look into it later and report back

[2020-12-14 11:01] kairikibear commented on #2557
Ah, there's actually one.. Is this a limitation forced by docker that i can circumvent by setting configurations, or do i have no choice but to add more ram to my system?

[2020-12-14 11:38] BhargaviChintanippu commented on #2567
Thank you for the reply...It worked for me.

[2020-12-14 11:39] dvkruchinin opened #2572 "The cursor jumps to the end of the line when renaming a task."
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
When renaming a task, the cursor does not jump to the end of the line.

### Current Behaviour
When renaming a task, if put the cursor anywhere other than the end of the line and start typing characters, the c

[2020-12-14 11:39] BhargaviChintanippu commented on #2567
It worked..Thank you...

[2020-12-14 11:49] zhiltsov-max commented on #2557
Basically, there are few options here:
- check container limits
- add (more) swap memory (can hurt application performance, but anyway)
- add physical ram

[2020-12-14 15:51] #2543 closed

[2020-12-15 01:19] kairikibear commented on #2557
Thanks! adding swap is a bit slow but it does the trick without adding rams.

[2020-12-15 01:19] #2557 closed

[2020-12-15 01:58] QuarTerll commented on #2529
@leemengxing @jahaniam @gen-ko @beep-love

I have finished the **semi-auto** annotation myself. Here is the way that may have a little help.

1. Create your task
2. Download dataset. (bug here, not just annotation, see [issues 2473)](https://github.com/openvinotoolkit/cvat/issues/2473)
3. Unzip the dataset. And change the dir_path and dir_txt to the path of the dataset where save images and annota

[2020-12-15 02:38] tankienleong commented on #2569
![a1](https://user-images.githubusercontent.com/25731934/102160965-6770fb80-3ec1-11eb-844d-4129aa7a8f0e.JPG)
![a2](https://user-images.githubusercontent.com/25731934/102160966-68a22880-3ec1-11eb-8e37-1c8c16570fcc.JPG)
![a3](https://user-images.githubusercontent.com/25731934/102160967-693abf00-3ec1-11eb-9ebf-11327c2f021a.JPG)
![a4](https://user-images.githubusercontent.com/25731934/102160968-69d355

[2020-12-15 06:56] zhiltsov-max commented on #2569
Could you check if any other formats have this problem? `CVAT for images`, `COCO`.
Is it a video task? Are these annotations produced by interpolation, or they were drawn manually? Do annotations fall to the right frames on loading?

[2020-12-15 07:41] #2560 closed

[2020-12-15 11:14] KoryakovDmitry opened #2575 "How can I do something with a group of objects?"
Hi,

How can I do something with a group of objects? For example, changing the labels of each object in a group at the same time, or copying and pasting a group of objects?

thanks.

[2020-12-16 12:54] aschernov commented on #2575
Hi Dmitry,
The "group" option in CVAT UI supports only visual grouping of objects. You can get the information that some objects were grouped and use it in your goals after downloading the annotation you made. See the details here: https://cvat-icv.inn.intel.com/documentation/user_guide.html#shape-grouping

[2020-12-16 15:49] danbjoseph opened #2584 "cannot load certificate"
I followed the installation instructions to setup CVAT on Ubuntu 20.04.1 LTS (GNU/Linux 5.4.0-58-generic x86_64) and was able to get the site up and working over http at mysub.mydomain.tld then I went on to follow the instructions for [Serving over HTTPS](https://github.com/openvinotoolkit/cvat/blob/develop/cvat/apps/documentation/installation.md#serving-over-https).

At the end of the instruction

[2020-12-16 18:52] Inquisitive-ME opened #2585 "Fetching inference status for task fails HTTPError 500"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

Whenever I try to run Automatic annotation with the tensorflow faster RCNN model on an entire task I get:

[code]

I tried setting nuclio to forward to local host but that seemed to break the nuclio connection with cvat.

### Steps

[2020-12-16 20:52] danbjoseph commented on #2584
I stumbled on this post in the Gitter chat and wonder if it's related.
<img width="686" alt="Screen Shot 2020-12-16 at 3 50 57 PM" src="https://user-images.githubusercontent.com/4806884/102405021-856c5800-3fb6-11eb-88b1-7843254e36cc.png">

[2020-12-16 22:27] #2575 closed

[2020-12-17 00:37] patzhang commented on #772
[Here](https://github.com/kyamagu/js-segment-annotator) is an implementation in javascript for Superpixels using SLIC. It has a nice [demo](http://kyamagu.github.io/js-segment-annotator/) that you can try online.

@nmanovic  Is the demo good enough to compare?

Also, the [COCO-Stuff dataset](https://arxiv.org/pdf/1612.03716.pdf) used superpixels (shown in the paper) in their [annotation tool](http

[2020-12-17 01:50] qiguming opened #2586 "The coordinates of some frames within a tracklet remain unchanged in the ''CVAT for video' format.'"
![2020-12-17 09-29-01屏幕截图](https://user-images.githubusercontent.com/31810368/102429754-99af6400-404d-11eb-897a-771afc6b8f9a.png)

The coordinates from frame 6915 to frame 6924 keeps changed actually but keep unchanged in the exported annotation file.

[2020-12-17 06:53] ITBOX-ITBOY opened #2587 "Deployment model problem"
Model deployment statement：

nuctl deploy --project-name cvat \
    --path $SCRIPT_DIR/tensorflow/faster_rcnn_inception_v2_coco/nuclio \
    --platform local

The configuration file is as follows：
functions.yaml

metadata:
  name: tf-faster-rcnn-inception-v2-coco
  namespace: cvat
  annotations:
    name: Faster RCNN via Tensorflow
    type: detector
    framework: tensorflow
    spec: |
      [

[2020-12-17 07:36] azhavoro commented on #2586
@qiguming Please don't ignore the issue template and specify which version of CVAT you are using. Could you provide steps to reproduce this issue?

[2020-12-17 22:48] nise opened #2590 "Account creation on cvat.org not possible."
Maybe offtopic, but with newly created credentials I am not able to login after I have clicked the link in the confirmation mail.
Since I did not find any other 'about'-page I had to write an issue. Sorry for that.

`Could not login on the server
Error: Request failed with status code 400. {"non_field_errors":["Unable to log in with provided credentials."]}.`

[2020-12-17 23:01] danbjoseph commented on #2584
It helped me to look at the Docker documentation and read that the syntax for a Docker host-mounted volume is
`/host/path:/container/path` and so, as noted by Andrew Hill in Gitter, I changed the line in my `docker-compose.override.yml` file to:
[code]
(Also, the hardware running Ubuntu and CVAT was behind a router and I had some settings on there that needed be fixed.)

[2020-12-17 23:01] #2584 closed

[2020-12-17 23:06] Inquisitive-ME commented on #2585
I figured out that the issue was that the default for tf-faster-rcnn-inception-v2-coco-gpu is to have 2 workers which my GPU does not have enough memory for. So it would classify 1 image, but when it was trying to classify multiple images it would have an out of memory error.

For others that see this to look at the docker logs you can run

`docker logs nuclio-nuclio-tf-faster-rcnn-inception-v2-co

[2020-12-17 23:06] #2585 closed

[2020-12-18 00:26] Inquisitive-ME commented on #2529
I am also seeing that automatic annotation does not get displayed in the images if you try to do it for a whole task, but it seems to work if you run the annotation on the images individually.

[2020-12-18 00:50] ktobah commented on #2403
I think the possibility to delete an image from a task is a needed feature because imagine a context where annotating high-quality images is required but while annotating you face low-quality images and you want to remove them. You might say don't label them, however, in this particular task not annotating an image means the particular object(s) doesn't exist in the image (and you need such images

[2020-12-18 01:57] QuarTerll commented on #2529
@Inquisitive-ME
YES. What I did is to do the automatic annotations for the whole task. For now, you can do the above to do this.

How do you do to run the auto anno for single images? Maybe my version of CVAT is not the latest?

[2020-12-18 02:17] cstamatopoulos opened #2591 "Add migration guide"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Current Behavior
There is no migration guide and no information how to migrate CVAT data in installation/FAQ guide.

### Possible Solution
Update FAQ.

### Steps to Reproduce (for bugs)
N/A

### Context
N/A

### Your Environmen

[2020-12-18 02:36] Inquisitive-ME commented on #2529
Yea doing the annotations outside of CVAT is not desirable for me.

But if you click on the AI Tools icon (picture below) in the toolbar you can go to detectors and should be able to select your model to annotate that image.

![image](https://user-images.githubusercontent.com/13723516/102567431-1de20580-40a7-11eb-88eb-068b5225503a.png)

[2020-12-18 05:48] azhavoro commented on #2590
@nise Hi, what username did you use?

[2020-12-18 08:32] cstamatopoulos commented on #2591
I think this is the way to do it but I am not sure if that is all the files required to migrate CVAT to another host
[code]

[2020-12-18 09:36] ITBOX-ITBOY opened #2598 "Model file deployment issues"
Now that I have packaged the CVAT /openvino.dextr image, can I use just one functions.YAMl file when Deploying the CVAT/Openvino.dextr image

For example：
nuctl deploy --project-name cvat \
--path $SCRIPT_DIR/openvino/dextr/nuclio \
--volume $SCRIPT_DIR/openvino/common:/opt/nuclio/common \
--platform local

There are three files in the path specified by --path one functions.YAMl and two.py files.

[2020-12-18 12:15] azhavoro commented on #2590
I see that your email has been verified, so you are most likely using the wrong password, try resetting it: https://cvat.org/auth/password/reset

[2020-12-18 14:45] nise commented on #2590
That's unlikely when using a password manager.

I reseted the password, but the problem remains the same. Are 15 chars to many for a password? Shall I use Chromium instead of firefox?

[2020-12-18 14:45] cbasavaraj opened #2600 "Multi polygon object"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Desired Feature
Hi, would it be possible to have the option to annotate a multi-polygon object? In my dataset, there is often one object passing in front of the other. The object that is behind can then by split into two or mor

[2020-12-18 15:09] azhavoro commented on #2590
Make sure that you use username (not email). In my case Firefox stored email instead username.

[2020-12-18 21:35] nise commented on #2590
Thanks, it was the email instead of the username. Me and the browser were not used to it...

[2020-12-18 21:35] #2590 closed

[2020-12-20 14:35] WaldoPepper opened #2602 "Integration with Data Version Control (DVC)"
When I write code, I change it, improve it, break it, throw it away, try something different...
Git is a tool that helps me with that and I can not think about doing something without it.

I recently started using CNN's for CV, and in addition to changing, improving [...] code, I now deal with training data, annotations, test sets, etc...
DVC became a tool and it seems to have the potential to bec

[2020-12-21 08:31] joon612 commented on #2157
@bsekachev Hi, I met the same problem, I sometimes encounter code 400 when saving. CVAT version 1.0. From the error message, I searched for information and found that is it might be related to PostgreSQL?
![image](https://user-images.githubusercontent.com/34393671/102755243-18d3cd80-43a9-11eb-9dfb-bb452010d137.png)

[2020-12-21 09:08] qiguming opened #2604 "The coordinates of last few frames within a tracklet remain unchanged in the ''CVAT for video' format.'"
### My actions before raising this issue
- [ ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [ ] Searched [past issues](/issues)

The coordinates of last few frames within a tracklet remain unchanged in the ''CVAT for video  format", however, the corresponding coordinates annotated in the CVAT UI are changeable.

### Expected Behaviour

The export annotation

[2020-12-21 09:37] technoproindia opened #2605 "Unable enable Semi-automatic and automatic annotation"
nuctl deploy --project-name cvat \
        --path serverless/openvino/omz/public/faster_rcnn_inception_v2_coco/nuclio \
        --volume /home/cvat/cvat/serverless/openvino/common:/opt/nuclio/common \
        --platform local
20.12.21 15:04:20.724                     nuctl (I) Deploying function {"name": ""}
20.12.21 15:04:20.724                     nuctl (I) Building {"versionInfo": "Label: 1.5.8

[2020-12-21 14:48] zhiltsov-max commented on #2602
Hi. We definitely have had a look at DVC and have come to integration with it in Datumaro. Currently, it is in development [here](https://github.com/openvinotoolkit/datumaro/pull/26). We are open to discussion on this topic, you are welcome to share your thoughts on how we can integrate it best.

[2020-12-21 15:23] zhiltsov-max commented on #2600
Hi, directly this is only available in COCO format. You can join polygons into groups, they will be exported as a single group of polygons in COCO. If you add a `rectangle` in a group, it will be used as a `bounding box`, otherwise it will be computed from polygons, as well as `area`.
Formats with masks (`Segmentation Mask`, `MOTS`, `CamVid`) will convert such polygons to masks and export them as

[2020-12-21 15:48] azhavoro commented on #2586
The same issue report #2604

[2020-12-21 15:48] #2586 closed

[2020-12-21 16:12] azhavoro commented on #2429
@nguyenanhtuan1008 Hi, did you solve the issue?

[2020-12-21 16:20] azhavoro commented on #2499
@juanmanuelrq did you solve the issue?

[2020-12-22 00:45] nguyenanhtuan1008 commented on #2429
not yet!

[2020-12-22 09:11] ActiveChooN opened #2607 "Cannot close some issues"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

User should be able to close all issues on the frame

### Current Behaviour

If user creates few issues in one point, for example from context menu from one object, he can only close top one and other are no

[2020-12-22 11:25] MarioProjects commented on #2390
I'm having issues with that. If I have 5 labels and I dump as `Segmentation Mask` 3 channels images are not right (for example each time puts the each class in not the same channel). And `MOTS` and `MOT` format returns empty zip files (some empty folders)... Datumaro returns errors too 'KeyError: 'cvat_rest_api_task_images''

[2020-12-22 12:28] bamwani commented on #2283
@theYGE How did you solve this?

[2020-12-22 14:29] ActiveChooN opened #2609 "Wrong overflow for several filters"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

Filters field should be rendered properly.

### Current Behaviour

Overflow for several selected filters looks wrong.

![изображение](https://user-images.githubusercontent.com/8168727/102898761-04f89c00-447b

[2020-12-22 15:06] zhiltsov-max commented on #2390
@MarioProjects,

Please, follow instructions in README.md in the downloaded archive. This way, you will need to run

[code]

Note that recent CVAT versions support color selection for labels, which affect colors in masks.

[2020-12-22 15:57] ActiveChooN commented on #2572
@dvkruchinin, it's AntD bug. Reported to their repo https://github.com/ant-design/ant-design/issues/28487.

[2020-12-22 20:07] MarioProjects opened #2610 "Traefik and duckdns setup"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

Trying to setup Traefik with duckdns Gateway error

### Expected Behaviour

Get working CVAT

### Current Behaviour

Not working CVAT -> Bad Gateway

### Possible Solution

A proper configuration

### Steps to Reproduce (for bugs)

[2020-12-23 03:16] xyc2690 opened #2611 "Development mode: network error"
I followed the instructions in
https://github.com/openvinotoolkit/cvat/blob/develop/CONTRIBUTING.md

In the last step, when I tried to login, I got the following error：
Could not check authorization on the server
Error: Network Error.
Could not get user agreements from the server
Error: Network Error.

OS：ubuntu 18.04

What could be the problem？

[2020-12-23 05:00] jahaniam opened #2612 "CVAT format- Source only accepts manual/auto"
Hi guys,
Thank you for developing this great tool.

I am importing my annotation to cvat using the cvat 1.1 image format. I noticed field `source` could only be either `auto` or  `manual`.

I was wondering why that would be the design decision and why not just accept any text? Ideally, as automatic annotation tools are being added more and more, we would like to keep track and know which bounding

[2020-12-23 08:27] azhavoro commented on #2611
Most likely the cvat backend doesn't run, make sure that you run this step: `Select server: debug configuration and start it (F5) to run REST server and its workers` and the server is successfully started.
P.S. please use [Github Discussions](https://github.com/openvinotoolkit/cvat/discussions) or Gitter for such questions.

[2020-12-23 16:36] nikky4D opened #2613 "Can CVAT do text input where the user types in description (2-3 lines)"
This is a question on CVAT's capabilities:

Can CVAT do text input where the annotator types a 2-3 line description of image/video into a text box?

[2020-12-24 06:38] QuarTerll commented on #2529
Ty

[2020-12-24 15:36] zhiltsov-max commented on #2612
Hi, it is an interesting idea.

Regarding Pascal VOC, `source` is an image source.

[2020-12-24 16:23] azhavoro commented on #2587
@ITBOX-ITBOY Please ask this question nuclio developers

[2020-12-24 16:35] jahaniam commented on #2612
@zhiltsov-max Thanks for your reply.  Pascal VOC doesn't work at all. There is a bug there. Everything is Unknown when we export the task to this format.

[2020-12-27 22:38] Inquisitive-ME opened #2621 "When reselecting an annotation box the top menu disappears"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

Whenever I either create an annotation or automatically annotate an image. If I select that box again it shifts the viewer down so that I can no longer access the top menu. I believe this maybe a screen size issue as I am using a 1

[2020-12-28 07:04] #2611 closed

[2020-12-28 07:18] bsekachev commented on #2317
Hi, @xyc2690

The core team isn't working on the feature. If somebody from the community could propose a PR, it would be great

[2020-12-28 07:26] xyc2690 commented on #2317
Thanks for your kind notification.
I am willing to work on the feature, however, I am not familiar with TS.
Does there any examples or similar functions which I can take them as references?

[2020-12-28 09:05] bsekachev commented on #2317
@xyc2690

TS is just a superset of JS, nothing really difficult if you familiar with JS. You can look how other shortcuts are implemented I suppose. I would suggest to make a search using key ``GlobalHotKeys`` in the project. We use the library https://github.com/greena13/react-hotkeys to maintain shortcuts.

[2020-12-28 09:13] bsekachev commented on #2613
Hi, @nikky4D

CVAT cannot do it currently. Text attributes are single-lined.
You could use artificial line separators I suppose (maybe ``;`` for example) and process them after dumping annotations.

[2020-12-28 09:13] #2613 closed

[2020-12-28 09:21] #2602 closed

[2020-12-28 09:24] #2600 closed

[2020-12-28 09:27] bsekachev commented on #2572
Has been fixed two days ago. Probably need to update antd in CVAT.

[2020-12-28 09:30] bsekachev commented on #2554
There is not answer and I cannot reproduce the issue. So, I will close it. Do not hesitate reopen it if you have additional information.

[2020-12-28 09:30] #2554 closed

[2020-12-28 09:31] bsekachev commented on #2548
@Marishka17 Could you please comment the issue?

[2020-12-28 09:34] #2587 closed

[2020-12-28 09:41] bsekachev commented on #2598
CVAT provides working configurations out of the box. Any custom changes could lead to unexpected behavior.
We aren't experts in nuclio, it is another framework developed by another team and I am not sure it is right place for such kind of questions.

Trying to answer your question: Can I leave three ... ?
You can try, but we do not know what you get in this case.

[2020-12-28 09:41] #2598 closed

[2020-12-28 09:44] xyc2690 commented on #2317
Thanks a lot, I will try to make it！

[2020-12-28 10:05] ZahraAnam commented on #2548
Looking Forward to get assistance!

[2020-12-28 10:33] bsekachev commented on #2605
Hi, @technoproindia

I was not able to reproduce the issue on my side. The process was succeed.
Please, try one more time. If it will be failed again, probably better to ask OpenVINO developers in the corresponding repository https://github.com/openvinotoolkit/openvino

[2020-12-28 10:33] #2605 closed

[2020-12-28 10:49] Marishka17 commented on #2548
Hi @ZahraAnam , sorry for the long wait!
I saw a couple of your comments on gitter, and it seemed to me that the problem was solved.

To solve your problem, you need to mount your share in any available way.
Maybe [this](https://linuxize.com/post/how-to-mount-cifs-windows-share-on-linux/) can be useful.
Then you need  to override docker-compose.override.yml according to the [instruction](https://g

[2020-12-28 11:15] ZahraAnam commented on #2548
Hi! Yeah I can mount it if its on my pc but not directly from server.

On Mon., Dec. 28, 2020, 11:49 a.m. Maria Khrustaleva <
notifications@github.com> wrote:

[2020-12-28 14:45] bsekachev opened #2625 "Cannot remove a project [TypeError: Cannot read property 'id' of undefined]"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
Can delete a project from the project page

### Current Behaviour
TypeError: Cannot read property 'id' of undefined
    at onClick (https://cvat.org/cvat-ui.01c9b98dbeebe6bcac43.min.js:365:546630)
    at onCl

[2020-12-28 14:47] bsekachev commented on #2625
@dvkruchinin Could you please write a test after the fix?

[2020-12-28 14:49] #2625 closed

[2020-12-28 16:09] cbasavaraj commented on #2600
Thanks for the response. Will test out the group feature sometime soon.

[2020-12-29 06:17] SaihholdChiu opened #2628 "when will 1.2 release version release?"
### My actions before raising this issue
- [ ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [ ] Searched [past issues](/issues)

### Expected Behaviour

### Current Behaviour

### Possible Solution

### Steps to Reproduce (for bugs)

1.
1.
1.
1.

### Context

### Your Environment

- Git hash commit (`git log -1`):
- Docker version `docker version` (e.g. Dock

[2020-12-29 09:22] Marishka17 commented on #2548
Hi @ZahraAnam ,
Let me clarify, at the moment you managed to simply mount your share (your server with data) to your local host or not? (before up containers)

[2020-12-29 11:59] nmanovic commented on #2628
@SaihholdChiu , I hope to release it in January. Need to test and update documentation.

[2020-12-29 11:59] #2628 closed

[2020-12-29 12:57] ZahraAnam commented on #2548
No! I can not mount my server.  I could not manage it.

On Tue, Dec 29, 2020, 10:22 AM Maria Khrustaleva <notifications@github.com>
wrote:

[2020-12-29 13:26] Marishka17 commented on #2548
Okay, what operating system is used on the server and on your host?

[2020-12-29 13:28] ZahraAnam commented on #2548
On my host Linux, On server Mac or Windows am not sure but probably its
windows as of "smb" sharing is for windows.

On Tue, Dec 29, 2020 at 2:26 PM Maria Khrustaleva <notifications@github.com>
wrote:

--
Best Regards,
Anam Zahra,
PhD Fellow MPI,
Email- zahraa.anam@gmail.com

[2020-12-29 13:35] Marishka17 commented on #2548
In this case, have you tried the steps on the [link](https://linuxize.com/post/how-to-mount-cifs-windows-share-on-linux/)?

[2020-12-29 13:40] ZahraAnam commented on #2548
Ok! I will try this and update you.

On Tue., Dec. 29, 2020, 2:36 p.m. Maria Khrustaleva <
notifications@github.com> wrote:

[2020-12-29 19:12] nikky4D commented on #1228
Is there any idea on how to do this yet?

[2020-12-30 13:58] bsekachev opened #2633 "Issue with point region doesn't work in Firefox"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
Can create issue with point region

### Current Behaviour
Can't create issue with point region

### Possible Solution
Investigate & fix.

### Steps to Reproduce (for bugs)

1. In firefox open a task
1. Go to

[2020-12-30 17:26] beep-love opened #2635 "Getting HTTP Error:500 Server Error"
### My actions before raising this issue
- I have deployed tf-faster-rcnn-inception-v2-coco-gpu
- The function is running in nuclio dashboard
- Also the cvat task action menu 'automatic annotation' is showing the model with another cpu based model.
- When i run the annotation task it gives the error Getting HTTP Error:500 Server Error: Internal Server Error for url: http://nuclio:8070/api/function

[2020-12-31 04:54] Transigent opened #2636 "Labels Out Of Order After Creating New Task"
### My actions before raising this issue
- [ X ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [ X ] Searched [past issues](/issues)

### Expected Behaviour
I want to use the same Labels in the same order as I have used in all the other Tasks I have created. I copy them from an existing Task but when the new Task is created they are out of order. I expect tha

[2020-12-31 11:46] MarioProjects commented on #2610
I think that may be related with networks, if I could add internal and web to the default one you specified with the aliases 'ui' and so on

[2021-01-01 11:07] jenssgb commented on #1283
Hi all,
I use E-Mail verification as a workaround without having my mail server connected yet.
Once a user has done the self registration I can just unlock the user in the Admin panel.

`cd ~/cvat/cvat/settings `
`cp base.py base.py.backup`
`nano base.py`

add lines:
OLD: ACCOUNT_EMAIL_VERIFICATION = 'none'

new:
ACCOUNT_AUTHENTICATION_METHOD = 'username'
ACCOUNT_CONFIRM_EMAIL_ON_GET = True
ACCOUN

[2021-01-01 19:29] jahaniam commented on #2529
I can confirm automatic annotation is broken for tasks. It only works for single images I have tried two models. Faster rcnn and mask rcnn. It works fine for a single image but when I use it on a task containing multiple images although it shows it has completed but it doesn't show any annotation results on the images.
 @nmanovic  can we have a look on this problem please? I am working on the gpu

[2021-01-02 10:51] MarioProjects commented on #2610
I followed this guide to setup traefik -> https://www.digitalocean.com/community/tutorials/how-to-use-traefik-v2-as-a-reverse-proxy-for-docker-containers-on-ubuntu-20-04#step-3-%E2%80%94-registering-containers-with-traefik

[2021-01-02 10:51] MarioProjects commented on #2610
If I set my public address I can access

[2021-01-03 15:29] beep-love commented on #2635
@jahaniam can you please help on this?

[2021-01-03 15:34] jahaniam commented on #2635
What’s your gpu memory?
change the number of workers in the yaml file from 2 to 1 and redeploy function.
does the automatic annotation for single image work? Also provide the docker logs for nuclio-nuclio-tf-faster... container

[2021-01-04 06:52] Huynh-Chinh opened #2640 "Kibana_Create index pattern"
### My actions before raising this issue
- [ ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [ ] Searched [past issues](/issues)

### Expected Behaviour

![image](https://user-images.githubusercontent.com/61222689/103507939-d626f080-4e92-11eb-914b-f9335e6cf321.png)

### Current Behaviour

![image](https://user-images.githubusercontent.com/61222689/103507812-9

[2021-01-04 07:15] MarioProjects commented on #2610
Solution: Traefik is not needed for that?! With next at `docker-compose.override.yml` file I am able to access `cvat.myname.duckdns.org:3710`.

[code]

Last question is, If I wont use 3710, only host name, if I set ports 80:80 it says `ERROR: for cvat_proxy  Cannot start service cvat_proxy: driver failed programming external connectivity on endpoint cvat_proxy (6bd422d9878e2861467ff18715bc99669e05

[2021-01-04 08:29] yaochenglouis opened #2641 "Nuclio related 500 server error"
### My actions before raising this issue
- [ yes ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [ yes ] Searched [past issues](/issues)

### Current Behaviour
I have so far deployed Dextr and GPU tf faster rcnn on cvat. i used them right after deployment and they went well. but after a reboot of system they wont work anymore. saying :
`Interaction error occu

[2021-01-04 12:24] zhiltsov-max commented on #2636
Looks like there is an alphabetical sorting happens during task creation.

BTW, labels can only be added after task creation, they can't be modified.

[2021-01-04 19:11] jahaniam commented on #2635
@beep-love

[2021-01-04 20:54] turowicz commented on #2189
Same issue here...

[2021-01-05 02:05] Transigent commented on #2636
Here is an easily reproduceable way to exhibit the problem (for me):

1) Create a new task
2) Add some labels by [opening this file](http://filestore1.tk/storage/LabelsJSON.txt) and copying and pasting in the JSON into the RAW tab, replacing the brackets that are there, and press Done.
3) Click the Constructor tab and confirm the labels are in order
4) Give the task a name, say "Test" and I dont k

[2021-01-05 10:48] turowicz commented on #2189
I'm having this problem with CVAT but the discussion is being held here:

https://github.com/nuclio/nuclio/issues/2031

[2021-01-05 10:52] yaochenglouis commented on #2641
Very well, I have deleted docker storage path (/var/lib/docker) and reinstalled cvat, this error still exists.

[2021-01-05 11:07] Baiju-Pro commented on #643
Hi , Even I am facing the same issue - coco format is not supported for point marking. please suggest any way to make it.

[2021-01-05 11:22] turowicz commented on #2522
@nmanovic any workarounds? I'm having a weird issue here: https://github.com/nuclio/nuclio/issues/2031

[2021-01-05 11:22] turowicz commented on #2522
not using volumes for the f-rcnn

[2021-01-05 12:50] turowicz opened #2643 "In k8s (AKS) uses NodePort instead of Service to connect to function"
### My actions before raising this issue
- [* ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [* ] Searched [past issues](/issues)

The problem occurs while running CVAT and Nuclio in Kubernetes. By default, CVAT function invocation doesn't append the `x-nuclio-via` header, which makes `nuclio-dashboard` unable to find the desired function service.

### Expec

[2021-01-05 12:53] beep-love commented on #2635
@jahaniam My gpu is rtx 2080 ti

I was able to run automatic annotations, after editing the yaml file and by redeploying the function.

Thanks for the help and sorry for not updating the status here.

It is taking around 90 minutes to train a video with a total of 2000 frames. Is it the desired performance or can we make it more efficient?

[2021-01-05 13:04] turowicz opened #2644 "Bulk annotation not being persisted"
### My actions before raising this issue
- [*] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [*] Searched [past issues](/issues)

Automatic annotation only works when invoked from inside the job on a particular frame using the magic wand. When running a bulk annotation on the entire task, it does complete successfully but the annotations aren't saved.

### Ex

[2021-01-05 14:59] turowicz commented on #2644
cc @bsekachev

[2021-01-05 14:59] turowicz commented on #2643
cc @bsekachev

[2021-01-05 15:02] turowicz commented on #2644
cvat Logs:

[code]

[2021-01-05 15:04] turowicz commented on #2644
Such cvat logs as above are only created for bulk annotation. When using the magic wand the cvat doesn't log anything but `Send user activity`.

[2021-01-05 15:30] turowicz commented on #2644
cc @dvkruchinin

[2021-01-05 15:54] turowicz commented on #2529
Same problem documented here, possible duplication https://github.com/openvinotoolkit/cvat/issues/2644

F-RCNN on CPU

[2021-01-05 15:55] turowicz commented on #2529
Do we know which commit broke the automatic annotation for Tasks?

[2021-01-05 16:09] jahaniam commented on #2529
I do not know which one broke it but it is for sure broken. I think it was working maybe a month ago. It would be great if you can pinpoint it somehow.

[2021-01-05 16:13] turowicz commented on #2529
@jahaniam I am building different versions moving back and testing. Will let you know.

I am on Kubernetes though, so won't be able to go as far as 1.11.

[2021-01-05 16:28] turowicz commented on #2529
By branch/tag:

- `develop` - broken
- `rekease-1.2.0` - broken
- `v1.2.0-beta` - broken
- `v1.2.0-alpha` - unable to launch task annotation, button is grayed out
![image](https://user-images.githubusercontent.com/1055391/103671542-59237600-4f7b-11eb-9a68-5649d5073d2c.png)

[2021-01-05 16:32] turowicz commented on #2529
Interestingly, it does work on cvat.org

[2021-01-05 16:44] turowicz commented on #2529
Over here it says 1.5.8 https://github.com/openvinotoolkit/cvat/blob/develop/components/serverless/docker-compose.serverless.yml

I'm running nuclio at 1.5.12, so perhaps this is why its not working for me.

[2021-01-05 16:53] turowicz commented on #2529
I've installed nuclio helm from branch 1.5.8 but it does not create any annotations either.

[2021-01-05 17:02] turowicz commented on #2529
I have also tested with corresponding versions of nuctl, as it deploys a specific base image. No luck.

[2021-01-05 17:03] turowicz commented on #2529
We need to find out how are they running it correctly on cvat.org

[2021-01-05 17:13] jahaniam commented on #2529
It is not related to nuclio. Nuclio is doing ok and the version mismatch should be ok as well.

Nuclio was boosted in my PR in https://github.com/openvinotoolkit/cvat/pull/2546 from 1.4.8 to 1.5.8 to allow gpu support. You can test 1.4.8 but I don't think it is the nuclio version as functions are working fine.

[2021-01-05 17:15] turowicz commented on #2529
@jahaniam do you know what commit is running on cvat.org? It does work in there.

[2021-01-05 17:17] turowicz commented on #2529
I get that but I have reverted CVAT many versions back and it does not help at all. We need that secret sauce from cvat.org.

[2021-01-05 17:21] jahaniam commented on #2529
It says:

[code]

[2021-01-05 17:52] turowicz commented on #2529
@jahaniam I know that, but we need to know specific commits and nuclio version.

[2021-01-05 17:54] jahaniam commented on #2529
for me cvat.org doesn't work either for fast-rcnn for task auto annotation. what model are you using?

[2021-01-06 08:34] turowicz commented on #2529
The `Faster RCNN` on cvat.org works fine detecting persons for me. But now I realize what difference we may have. On my k8s cluster, I am trying to use `TF F-RCNN`, which doesn't use the volume handler, and perhaps the TensorFlow models are the ones that are broken.

[2021-01-06 08:35] #2640 closed

[2021-01-06 08:38] turowicz commented on #2529
The `Mask RCNN` also works on cvat.org for me. Through vino.

[2021-01-06 09:07] turowicz commented on #2529
I'm unable to deploy any openvino to my k8s cluster though...

First, I had to fix the f-rcnn's name as it contained `_`.

But now it hangs on the following command when running the `nuctl deploy`:

[code]

[2021-01-06 09:08] turowicz commented on #2529
The last command from the log above hangs indefinitely

[2021-01-06 10:00] turowicz commented on #2529
I have deployed the Open VINO versions of F-RCNN and Mask RCNN - NO LUCK.

[2021-01-06 10:04] turowicz commented on #2529
I've also noticed that Open VINO F-RCNN requires TF F-RCNN to exist. What is the point of this?

[2021-01-06 10:12] turowicz commented on #2529
Regardless, both TF F-RCNN and OpenVINO F-RCNN do not work as a bulk annotation on a Task.

[2021-01-06 13:02] technoproindia opened #2646 "Failed to enable the semi-automatic and automatic annotation"
Operating system Ubuntu18.04
Docker version 20.10.2, build 2291f61
Docker-compose version 1.27.4
Python 3.6.9

CVAT installation is completed and able to login to CVAT
then build serverless function
 Docker-compose -f docker-compose.yml -f components/serverless/docker-compose.serverless.yml up -d
 Downloaded **nuctl-1.5.8-linux-amd64** and added execution permission
 Created cvat project inside nu

[2021-01-06 14:53] jahaniam commented on #2646
tensorflow faster rcnn should work fine. Try that also.

 PS. Use code format for logs.
[code]

[2021-01-06 14:56] jahaniam commented on #2635
May I ask what did you modify in YAML?
No it is not efficient, maybe try adding workers if you have the memory for it.

How did automatic annotation for a whole task work for you? I think it is broken. It shows successfully done but when opening the task there is no result. Can you verify this please?

[2021-01-06 14:59] jahaniam commented on #2641
You are invoking the function wrong.

You need to pass data otherwise it is None.
[code]

[2021-01-06 15:10] jahaniam commented on #2529
@turowicz Your information was really helpful. I investigated why cvat.org automatic annotation doesn't work for me. I realized if a task is assigned to a project this feature fails, otherwise works fine.

Can you also try it on the develop branch and create a task without assigning it to a project and see if bulk annotation works?
I believe it might work that way.

[2021-01-06 15:11] jahaniam commented on #2635
@beep-love Is it possible to deploy the cpu one and compare the timing for reference?

[2021-01-06 15:24] jahaniam commented on #2529
@nmanovic
The project PR was introduced in https://github.com/openvinotoolkit/cvat/pull/2255
If a task is assigned to a project, the automatic annotation for that task is failing (showing success but there is no result ).

[2021-01-06 15:41] yaochenglouis commented on #2641
thanks for your comment, but this was not the problem i wanted to solve.
[code]
I encountered the 500 server error in this interface. I just want to make my Dextr work.
After click on four points on a photo, the coordinates and the task number, the order of photo will be sent as json by 'POST' method to somewhere I don't know, after a 30 seconds wait, it will say 500 error.
![cv4at-dextr](https://

[2021-01-06 15:46] yaochen commented on #2641
wrong yao :)

[2021-01-06 15:48] yaochenglouis commented on #2641
ok i just tried the code you provided. with invoke function, faster rcnn inception v2 coco worked in terminal as below, but not with cvat web interface, still 500 error
[code]

[2021-01-06 15:49] yaochenglouis commented on #2641
lmao hey fellow yao, sorry for the inconvenience

[2021-01-06 16:12] MarioProjects commented on #2640
How did you solve that?

[2021-01-06 16:18] turowicz commented on #2529
@jahaniam woop woop! You're right!

After removing all the projects on my k8s, the automatic annotation works on Tasks!

[2021-01-06 16:32] turowicz commented on #2529
@jahaniam also cancelling automated tasks is broken

![image](https://user-images.githubusercontent.com/1055391/103794597-32ca0d00-5045-11eb-9f93-ea0391bc3b12.png)

[2021-01-06 16:33] turowicz commented on #2529
Yes this is how it works, thanks!

[2021-01-06 17:39] MarioProjects opened #2647 "Kibana Simple Guide"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

Display how much time users wasted labeling segmentation masks.

### Current Behaviour

Nothing :(

### Context

I followed the steps on analytics inclusion with CVAT through Kibana and I would visualize how

[2021-01-07 05:12] nmanovic commented on #2529
@turowicz , we will look at the problem after public holidays in Russia. Sorry for the experience. "I realized if a task is assigned to a project this feature fails, otherwise works fine" - it looks like a regression. @ActiveChooN , could you please look?

[2021-01-07 05:41] beep-love commented on #2529
Hi, I was also using tf-faster rcnn for automatic annotation.

I was able to deploy the function and run auto annotation using nuclio 1.5.8 and clearing all other error functions at nuclio dashboard. Also, i had to make a change in yaml file in the line no. of worker for 2 to 1 .

I ran auto annotation. It ran well in the first three videos of length less than 3 mins for traffic annotation. The la

[2021-01-07 05:46] beep-love commented on #2529
Also,

The later videos were of length more than 5 mins. So I will again check with the shorter videos if it throws an error or not.

In my opinion, this issue might be related to any runtime parameters in the YAML file.

[2021-01-07 06:55] beep-love commented on #2635
@jahaniam I havent deployed tensorflow model in cpu.

But i had deployed model in serverless/openvino/omz/public/faster_rcnn_inception_v2_coco/nuclio
which was the cpu based model.

And in my i9-9900k CPU the inference was taking around 12 hrs.

I opened the task and i saw annotations results for all the random frames i went through.

Also, i have replied in next thread for some error message at i

[2021-01-07 07:32] yaochenglouis commented on #2641
![Screenshot_2021-01-07 Function Instance – Django REST framework](https://user-images.githubusercontent.com/12840061/103864350-62d4e700-50fd-11eb-8e66-8b4661ef4f09.png)

I think the dict text set in the above photo is correct. so basically, calling nuctl invoke openvino-dextr in terminal works, but not with django REST api.

[2021-01-07 15:26] yaochenglouis commented on #2641
I find that inside cvat container, entering by` docker exec --user root -it cvat bash`,
with `apt-get install nmap`

`curl 172.17.0.1:49157` ( the listening port of dextr, I can access normally in chrome/firefox, or by curl in terminal of host)
cvat container gets time out.

and i did a scan with nmap inside cvat container:
`nmap -vv -sS 172.17.0.1`
[code]

[2021-01-07 15:27] yaochenglouis commented on #2641
I suppose that the port 49157 is not open for cvat container. trying to solve that

[2021-01-07 15:50] yaochenglouis commented on #2641
after disabling ufw, things went better. but i am having a new bug..

[2021-01-07 16:21] yaochenglouis commented on #2641
Final word: for those who use ufw, first find the port that your nuclio function listens to, and ufw allow port. that worked for me.

[2021-01-07 16:21] #2641 closed

[2021-01-08 05:42] technoproindia commented on #2646
@jahaniam  Thank you for your prompt response.
I have tried with TensorFlow faster rcnn too but unfortunately, it is not working.
Please find the attached error logs for your kind reference.
[Error log.zip](https://github.com/openvinotoolkit/cvat/files/5785431/Error.log.zip)

[2021-01-08 06:19] jahaniam commented on #2646
Looks like it deployed function without any problem. Please provide `docker logs nuclio-nuclio-<name_of_the_function>

also open nuclio dashboard localhost:8070 and makesure the function is running.

[2021-01-08 06:23] jahaniam commented on #2529
@ActiveChooN Would also be nice to support changing project ID of a task through the API or UI.
We cannot change Project ID of a task and set it to null or any other project IDs to be able to move a task between projects or assign a task to a project that is not assigned to any initially.

[2021-01-08 06:26] jahaniam commented on #2529
I think the best way to optimize for now is to do it outside and create a task and upload annotation using API. see https://github.com/openvinotoolkit/cvat/tree/develop/utils/cli or [localhost:8080/api/swagger](http:/localhost:8080/api/swagger)

[2021-01-08 06:30] technoproindia-tpri opened #2648 "Error in the command of nuctl deployment"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

I have tried running this command for cvat serverless configuration
nuctl deploy --project-name cvat   --path serverless/openvino/omz/public/yolo-v3-tf/nuclio   --volume `pwd`/serverless/openvino/common:/opt/nuclio/common   --platf

[2021-01-08 07:29] technoproindia commented on #2646
@jahaniam
It shows like that but when i try to automated annotation using this model get an error " Inference status for the task 1 failed. requests.exceptins.HTTPError:500 Seerver Error: interal server for url: http://nuclio:8070/api/function_invocations

Attached snapshots and error log for your kind reference.
![Error_nuclio_dashboard_diploy](https://user-images.githubusercontent.com/60682117/1

[2021-01-08 07:32] #2648 closed

[2021-01-08 08:07] #2398 closed

[2021-01-08 08:21] nmanovic commented on #2542
@azhavoro , the problem is really critical even for us. Could you please propose a short-term and long-term solutions?

[2021-01-08 08:28] MetalBlueberry opened #2649 "Remote sources file name & performance"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

Hi all,

I'm trying to import a dataset using the feature "Remote resources" from the create task dialog.

### Expected Behaviour

I would expect cvat to store the provided URLs and fetch the content as I label the images. Also, th

[2021-01-08 10:08] Smirkey opened #2650 "Unable to move (drag with the mouse) track when it's a polygon"
### My actions before raising this issue
- Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- Searched [past issues](/issues)

Hello, when I draw a boundingBox (2 points) in track mode it's totally possible to drag it on the image. But sadly when I try the same thing with a polygon the whole image moves instead of moving the polygon on the image.

I couldn't find

[2021-01-08 11:27] turowicz commented on #2529
OK so issues identified:

1. Tasks assigned to Projects cannot be annotated automagically.
2. Cancellation of automated Task annotation throws errors when setting timeout.
3. In the current state of automated annotations some people are forced to run it through the API.

Anything else? How about the fact that OpenVINO F-RCNN requires TF-RCNN to co-exist?

[2021-01-08 11:48] IshanBorkar10038 opened #2651 "Unable to get the models from the server to CVAT tool"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

I have installed and enabled nuclio as well as cvat tool and completed all the serverless functions from the nuclio deploy. However when I am opening http://localhost:8080. it opens CVAT tool and shows that "**Could not get the mod

[2021-01-08 16:54] happyCodingSusan opened #2652 "Can depth images be displayed?"
@CVAT, thanks for sharing your great work! Are you able to display both RGB and depth images? If annotation can only be done on rgb images, is it possible to display its depth pair since the depth image can help the annotator to identify the correct object boundaries in RGB images, especially in occluded cases. It is even better if annotating depth images is supported.

[2021-01-08 17:25] jahaniam commented on #2646
It should not be deploying. Status should be 'runninng'. You probably pressed the deploy button.

Include `docker logs nuclio-nuclio-tf...`

[2021-01-08 17:27] jahaniam commented on #2646
and carefully read https://github.com/openvinotoolkit/cvat/blob/develop/cvat/apps/documentation/installation_automatic_annotation.md

[2021-01-08 17:29] jahaniam commented on #2652
Agreed. Looking forward to this.

[2021-01-08 17:32] jahaniam commented on #2529
Nuclio functions are independent of each other hence OpenVINO F-RCNN requires TF-RCNN to co-exist is wrong. these are two independent functions.

1. Tasks assigned to Projects cannot be annotated automagically.
2. Cancellation of automated Task annotation throws errors when setting timeout.
3. Moving/assigning a task to a project through UI/API fails (considering two projects have the same annotat

[2021-01-10 18:19] jahaniam commented on #2529
4. if task is assigned to a project, dumping the annotation/dataset as PASCAL VOC and many other formats fails (succeeds but annotation is empty although it shouldn't)

[2021-01-11 08:32] ashokbalaraman commented on #2529
Thanks @jahaniam. Do you have a ball-park ETA on this?

[2021-01-11 12:03] Erdos1729 commented on #2541
@beep-love can you please tell me how you rebuilt the function? I am facing a same issue of "Could not get models from the server"

[2021-01-11 12:09] hashishoya commented on #1283
@nmanovic Hi, it would be great if we can just remove the 'register-page' rendered view. Is there an out-of-the-box option of simply removing this registration page component? As well as disabling registration completely (not even with email verification) ..

[2021-01-11 12:50] ErikOrjehag commented on #1026
@muck27 I have the same issue, could you share the solution?

[2021-01-11 13:22] bsekachev commented on #1283
@hashishoya

Hi,
There is not out-of-the-box solution to getting rid of registration page. Only presented workaround at this moment.

[2021-01-11 13:36] ErikOrjehag commented on #1092
I'm also affected by this issue, would be great if you have time to think about a solution

[2021-01-11 13:38] hashishoya commented on #1283
@bsekachev `cvat/apps/authentication/api_urls.py` is not anymore there, so just commented out
[path('register', RegisterView.as_view(), name='rest_register'),](https://github.com/openvinotoolkit/cvat/blob/649f962bec43047cb70dc98ab77189ef64228ab9/cvat/apps/authentication/urls.py#L23)
Would this be enough or do I have to comment more things out?

[2021-01-11 13:51] bsekachev commented on #1283
@hashishoya

Yes, it would be enough.

Looks like ``api_urls.py`` was renamed to ``urls.py`` and previous ``urls.py`` has been removed in #1964.

Theoretically (but I am not sure) you can also change Django setup ``DJANGO_AUTH_TYPE`` (override Django settings) to any custom value and it would disable server methods to registration, password reset, password change and email confirmation.

[2021-01-11 14:36] hashishoya commented on #1283
@bsekachev
It should be enough overriding [REGISTRATION_OPEN = FALSE](https://django-registration.readthedocs.io/en/2.0.4/settings.html#django.conf.settings.REGISTRATION_OPEN) according to the documentation. But couldn't find the `settings.py` file and where exactly I should insert it. Do you know if it is possible to add this django setting in CVAT source code?

[2021-01-11 14:41] bsekachev commented on #1283
We do not use default Django authorization and I do not expect this setting to work.
Settings files are located in ``cvat/settings/*.py``

[2021-01-12 03:42] hollowgalaxy commented on #1228
@nmanovic any news on this?

[2021-01-12 08:16] #2522 closed

[2021-01-12 08:43] bsekachev opened #2657 "Support of webhooks"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

Just an idea. CVAT could support user's webhooks. They are some HTTP requests, may be with data which are triggered automatically on different events: create, save, delete, change something.
There could be two types of hooks: admin

[2021-01-12 08:52] turowicz commented on #1283
I believe this ticket should call not only for the setting for disabling the self sign-up, but also for a group permission to view any of the data.

[2021-01-12 09:59] hashishoya commented on #1283
I am posting here a cleaner solution that worked for me. I was able to access Django settings and override the [REGISTRATION_OPEN](https://django-registration.readthedocs.io/en/2.0.4/settings.html#django.conf.settings.REGISTRATION_OPEN) by doing the following:

1. Create `settings.py` file in cvat root directory with the following code:
[code]

2. Add/mount/link the created `settings.py` file to t

[2021-01-12 12:22] MarioProjects commented on #2253
Hi, how you could see the number of shapes and duration and so on with Kibana. I am not able to do so.

[2021-01-13 01:32] chad-green commented on #2403
Yes, being able to delete as well as add images to the annotation task is a much needed feature!

[2021-01-13 01:44] chad-green commented on #2403
Here's scenario where this is important: You've upload 1,000 images for annotation of Object A. You think you have 1,000 quality images with clear examples of Object A, but when you get to image 999, you notice that Object A in dozens of the images is actually not an Object A and it could easily confuse the network. You're using a Yolo dataset so you can't leave the annotations blank or it will be

[2021-01-13 12:04] dvkruchinin opened #2661 "The list of files attached to the task is not displayed."
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
When creating a task, file are attached. Its name is displayed above ```Advanced configuration```.

### Current Behaviour
The name of attached file are not displayed.

### Possible Solution
Fix a bug.

### St

[2021-01-13 13:06] a-andre opened #2662 "LDAP login broken with CVAT 1.2"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)
    - #2590 is a different problem

### Expected Behaviour

Successful login.

### Current Behaviour

Error: Request failed with status code 400. {"non_field_errors":["Unable to log in with provided credentials."]}.

### Possible So

[2021-01-13 13:58] azhavoro commented on #2662
Hi, please attach the logs from the CVAT container. I can also confirm that the above setting works for the internal instance without any changes.

[2021-01-13 13:59] azhavoro commented on #2651
please attach logs from cvat container

[2021-01-13 14:00] azhavoro commented on #2650
@bsekachev could you please take a look?

[2021-01-13 14:25] azhavoro commented on #2647
Hi, thanks for the question, in general Kibana is very limited for such calculations (https://github.com/elastic/kibana/issues/4707), I think we will improve the analytics component in the future.

[2021-01-13 19:00] a-andre commented on #2662
I've updated the description.

[2021-01-14 06:22] bsekachev commented on #2650
@Smirkey

Hi, thanks for you concern.
Polygons are default "pinned" and cannot be moved (in the most of task you do not need to move an entire polygon).
To do them "unpinned" press the icon button (shown on the screenshot below)
![Screenshot from 2021-01-14 09-20-00](https://user-images.githubusercontent.com/40690378/104552395-ce610c00-5649-11eb-9f2e-6571bcddd013.png)

[2021-01-14 06:22] #2650 closed

[2021-01-14 07:47] azhavoro commented on #2662
@a-andre Are you using LDAP over SSL, or is your connection to the LDAP server not encrypted?

[2021-01-14 08:36] bsekachev opened #2663 "Cuboids are missed in annotations statistics"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

![Screenshot from 2021-01-14 11-34-35](https://user-images.githubusercontent.com/40690378/104564869-80093880-565c-11eb-949c-4c9411a6731f.png)

### Expected Behaviour
Annotations statistics includes cuboids

### Current Behaviour
It

[2021-01-14 08:49] a-andre commented on #2662
If have `AUTH_LDAP_START_TLS = True` in the settings, so connection should be encrypted.

[2021-01-14 08:56] azhavoro commented on #2662
Not sure that will help, but try to add `ca-certificates` package here https://github.com/openvinotoolkit/cvat/blob/develop/Dockerfile#L74 and rebuild the image.

[2021-01-14 09:02] kbegiedza opened #2664 "Instructions for each labeling task / project"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

Currently we have to prepare and distribute documentation for each project and task outside CVAT which is slow and error prone process.
In AWS's Sage Maker we can give instructions per labeling task for annotators.

I believe this

[2021-01-14 09:42] a-andre commented on #2662
That fixed the problem. Thanks.

[2021-01-14 11:08] nicken opened #2665 "new could not translate host name "cvat_db" to address"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

I can open the `localhost:8080`,get page

### Current Behaviour

run `docker exec -it cvat bash -ic 'python3 ~/manage.py createsuperuser'`get this error info:
[code]
* `docker logs cvat_proxy`

[code]

### P

[2021-01-14 11:16] nicken commented on #2665
when i remove `network_mode: "host"`, I find i can get page

[2021-01-14 11:16] nicken commented on #2665
sorry, i will close this

[2021-01-14 11:16] #2665 closed

[2021-01-14 11:21] beep-love commented on #2541
Use this

`docker-compose down --remove-orphan`

`chmod +x nuctl-1.5.8` after downloading the nuctl

`nuctl-1.5.8 deploy tf-faster-rcnn-inception-v2-coco-gpu \
  --project-name cvat --path "serverless/tensorflow/faster_rcnn_inception_v2_coco/nuclio" --platform local \
  --base-image tensorflow/tensorflow:2.1.1-gpu \
  --desc "Faster RCNN from Tensorflow Object Detection GPU API" \
  --image cvat/t

[2021-01-14 11:23] beep-love commented on #2541
Also, delete the nuclio error function from nuclio dashboard!

[2021-01-14 12:33] Smirkey commented on #2650
Thank you :) !

[2021-01-14 14:24] ErikOrjehag opened #2666 "Tracked shapes returned by rest api are not interpolated"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
I expect the rest api endpoint GET /jobs/{id}/annotations to return all tracked shapes, both the ones with keyframe=True and keyframe=False (interpolated).

### Current Behaviour
The rest api endpoint GET /jo

[2021-01-14 14:25] ErikOrjehag opened #2667 "Tracked shapes returned by rest api are not interpolated"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
I expect the rest api endpoint GET /jobs/{id}/annotations to return all tracked shapes, both the ones with keyframe=True and keyframe=False (interpolated).

### Current Behaviour
The rest api endpoint GET /jo

[2021-01-14 14:26] ErikOrjehag opened #2668 "Tracked shapes returned by rest api are not interpolated"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
I expect the rest api endpoint GET /jobs/{id}/annotations to return all tracked shapes, both the ones with keyframe=True and keyframe=False (interpolated).

### Current Behaviour
The rest api endpoint GET /jo

[2021-01-14 14:27] ErikOrjehag commented on #2666
Duplicate sorry

[2021-01-14 14:27] #2666 closed

[2021-01-14 14:28] ErikOrjehag commented on #2667
Duplicate sorry

[2021-01-14 14:28] #2667 closed

[2021-01-14 16:22] bsekachev commented on #2668
@ErikOrjehag

You are right, CVAT doesn't store interpolated shapes, they are computed when necessary (for example when dumping annotations or exporting a dataset). It is not a bug.
Storing all in the database would be overkill as well as if CVAT computed them during any server request ``/jobs/{id}/annotations``, job loading would be extremely slow.

[2021-01-14 16:26] bsekachev commented on #2664
Hi, @Ursanon

You can use field "Issue tracker" to left a link with specification (to any 3rdparty server) when create a task or a project.
Your request to support it directly in CVAT is a part of #351, but it is out of priority of the core team.

[2021-01-14 16:28] ErikOrjehag commented on #2668
@bsekachev Thanks for the reply :) I see, so it's not a bug. Do you think it's valid as a feature request to have an endpoint (or flag on this endpoint) that does interpolate the tracks? It would be really great for my use case, and I imagine that others might have a similar use case. Basically exporting the dataset annotations but not to a file.

[2021-01-14 17:44] valeriyvan opened #2670 "Creating task with Remote resources fails"
### My actions before raising this issue
- [x ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x ] Searched [past issues](/issues)

Creating task with Remote resources fails with error message "Could not create the task. Open the Browser Console to get details". Error message in console "cvat-app.tsx:208 Error: Could not create the task on the server. TypeErr

[2021-01-15 01:47] ashokbalaraman commented on #2621
@Inquisitive-ME: Yeah.  I ran into the same issue.  Zooming out (ctrl-) and zooming in (ctrl+) brought back the Top Panel.

[2021-01-15 01:54] barondra commented on #1472
Hi, I am using Windows. If I want to cvat to connect local directory at C:\mnt\share
Then I should not change anything in override.yml file copied in the guide right?
But it still doesnt connect. What am I missing here? It has been frustrating

[2021-01-15 05:07] nmanovic commented on #2621
Thanks for the report. We will look at the issue.

[2021-01-15 08:30] rilut commented on #2330
@kevincolyar yes I still have the same problem in 2021. did you manage to find the solutoin?

[2021-01-15 08:33] rilut commented on #2330
@azhavoro is there any temporary workaround to download dataset?

[2021-01-15 12:32] petervanya opened #2674 "CVAT running on Ubuntu 20.04 produces Django Error: role "root" does not exist"
I am trying to install CVAT on Ubuntu 20.04, following the steps from the [installation guide](https://github.com/openvinotoolkit/cvat/blob/develop/cvat/apps/documentation/installation.md) for Ubuntu 18.04. All works, only the last command required for registration
`docker exec -it cvat bash -ic 'python3 ~/manage.py createsuperuser'`
produces the following error:

`django.db.utils.OperationalError

[2021-01-15 13:36] #2572 closed

[2021-01-17 13:02] mh-mazen commented on #2227
@nmanovic hi sir , i am interested in IOG as well and took a look at your work
very good work so far you have solved all of the issues i had when i tried to implement the model
one question i have is were you able to find the implementation of the refinement as shown here?
[refinement](https://github.com/shiyinzhang/Inside-Outside-Guidance/blob/master/ims/refinement.gif)
would love to hear back fr

[2021-01-18 14:08] azhavoro opened #2677 "Unable to create task from zip archive located in connected shared folder"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

Permission error occurs when selected zip archive located on connected file share

### Expected Behaviour
Task is created successfully.

### Current Behaviour
[code]

### Possible Solution

### Steps to Reproduce (for bugs)

1. Try

[2021-01-18 14:50] Smirkey opened #2678 "How to download annotations from all tasks at once ?"
### My actions before raising this issue

- Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)

- Searched [past issues](/issues)

Hi !

I would like to know if there's a straightforward way to download annotations (and images ?) from all tasks from the interface or using the CLI.

I have a lot of tasks so downloading manually from the interface would take too much

[2021-01-18 15:03] yohayonyon commented on #2678
I've been using the list command and then the dump command for every task. This is very slow.
If there is a better way, I would be glad to know.
Refer to the [CLI README](https://github.com/openvinotoolkit/cvat/tree/develop/utils/cli).

[2021-01-18 15:13] Smirkey commented on #2678
Ok will use the CLI then, being able to extract all annotations from all task as a new dataset would be awesome indeed !

[2021-01-18 17:58] azhavoro commented on #2674
@petervanya Hi, please don't ignore the issue template and specify git hash of used version (`git log -1`), also attach container logs with full call stack of this exception `docker logs cvat > cvat.log`.

[2021-01-18 23:36] jordancharest opened #2679 "Update REST API documentation (assignee_id, owner_id, etc.)"
### My actions before raising this issue
- [x ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x ] Searched [past issues](/issues)

POST request to the /tasks REST API to create a new task, a new task is not created and the server responds that the username for the assignee and owner already exists, which is to be expected because you cannot assign a task to

[2021-01-19 05:17] arasharchor opened #2681 "annotator has permission to dump, upload, export annotation the task! How to remove this permission?"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
To my understanding annotators may not have permission to dump, upload, export annotations of the task.
### Current Behaviour
Annotator can dump, upload or export the task. However, the annotator can not dele

[2021-01-19 12:00] bsekachev commented on #2679
Hi @jordancharest

``owner``, ``assignee`` and other user related fields aren't expected to be in server request anymore (they can only come from server response). Instead use ``owner_id``, ``assignee_id``, etc. Let me know if it helps.

[2021-01-19 13:40] jordancharest commented on #2679
Yes, you are right, thank you. Maybe the documentation is out of date or I am reading it wrong? These are the parameters I see. I am new to using REST APIs so I could definitely be reading it wrong.
![image](https://user-images.githubusercontent.com/31459889/105042149-e366e200-5a31-11eb-92c7-a6742203431c.png)

[2021-01-19 15:55] azhavoro commented on #2681
@arasharchor Hi, it's expected behavior, why do you think that the annotator role should not have permissions for upload/dump actions? What is your use case?
The roles are defined here https://github.com/openvinotoolkit/cvat/blob/develop/cvat/apps/authentication/auth.py,
you can change the endpoint permissions according to your preference: https://github.com/openvinotoolkit/cvat/blob/develop/cvat/

[2021-01-19 16:11] nullket commented on #2330
I have the exact same issue, but with 1 GB. It downloads until 1 GB and then fails leaving a incomplete 1 GB file. I thought this might be related to https://github.com/openvinotoolkit/cvat/issues/956 but I could not find any info in the logs.

Temporary workaround could be to mount the docker volume and copy created zip by hand (before cache cleaner deletes it again). Going to try this now.

[2021-01-20 00:18] arasharchor commented on #2681
@azhavoro annotator can mistakenly upload old version annotations overwriting previous annotations which might be newer version. Where should I change in those scripts to remove the permission of upload from annotator? It is OK if annotators can dump annotations.

[2021-01-20 01:24] barondra commented on #2431
@nguyenanhtuan1008  Nope, I tried my best to connect with local share directory for Windows. Got so frustrated until I saw this thread, then I gave up.

[2021-01-20 05:09] koking0 opened #2684 "auto annotation tool Build path is directory - runtime must be specified"
### My actions before raising this issue
- [√ ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [√ ] Searched [past issues](/issues)

### Expected Behaviour
  nuctl deploy --project-name cvat \
    --path serverless/openvino/omz/public/yolo-v3-tf/nuclio \
    --volume `pwd`/serverless/openvino/common:/opt/nuclio/common \
    --platform local

### Current Behavi

[2021-01-20 07:51] #2662 closed

[2021-01-20 07:51] #2670 closed

[2021-01-20 07:53] bsekachev commented on #2679
@jordancharest

You are right, CVAT lacks of documentation for this case.

[2021-01-20 10:26] ktobah opened #2688 "Flipping polygon shapes"
### My actions before raising this issue
- [ Y] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [ Y] Searched [past issues](/issues)

### Expected Behaviour
I would like to ask if it is possible to implement a new feature where polygons (or shapes in general) can be flipped (as you would flip an image). For example, I draw the shape of a car door which is on th

[2021-01-20 11:37] bsekachev opened #2690 "Cannot open filter help dialog windows"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
Can open filter help dialog window

### Current Behaviour
Can't open filter help dialog window

### Possible Solution
Fix the bug

### Steps to Reproduce (for bugs)

1. Open a job
1. Go to filters input field

[2021-01-20 11:38] bsekachev commented on #2690
Hi, @dvkruchinin
Do we have such a test? If do, I suppose it probably work using ``force`` argument when clicking. Actually user cannot press the button, but I was able to do it via selectors in the Browser Console.

[2021-01-20 11:48] amaradak opened #2691 "The image id for CVAT1.1 format sequences are now starting from the last entry ID value and decrements until the first entry with ID 0"
### My actions before raising this issue
- [ x ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [ x ] Searched [past issues](/issues)

### Expected Behaviour

The dumped annotation in CVAT1.1 image format, the image IDs should start with 0 till the stop value for every image entry with its respective BOX / Polyline / labels / attributes

### Current Behaviour

[2021-01-20 12:10] Smirkey opened #2692 "Problem "split" function doesn't work with polygons/boundingboxes"
### My actions before raising this issue
- Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- Searched [past issues](/issues)

Hi :)

When I try to use the split function on a polygon/boundingbox nothing appens. My cursors changes and when I drag the mouse over a bbx/poly the object becomes blue, but when I click nothing appens. Am i missing something here?

My go

[2021-01-20 13:07] bsekachev commented on #2692
Hi @Smirkey

The function of split doesn't cut a polygon into several polygons by cutting line (CVAT doesn't have such a function like you described).
Please, refer to user guide.

[2021-01-20 13:07] dvkruchinin commented on #2690
Hi, @bsekachev
At the moment, there is no test for this functionality. I'll prepare it.

[2021-01-20 13:55] #2609 closed

[2021-01-20 13:55] #2690 closed

[2021-01-20 14:00] bsekachev commented on #2688
Hi @ktobah

Generally the feature is possible, but the core CVAT team currently has other priorities. The CVAT community is always welcome to implement new features and improve existing. I'll put the issue into backlog.

I suppose it can be done in two actions:
1. Select a spape
2. Draw an axis to flipping

[2021-01-20 17:41] jordiori opened #2694 "CVAT with video performance"
### My actions before raising this issue
- [X] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [X] Searched [past issues](/issues)

Hi, I'm using CVAT to annotate video and would like to get feedback on ways you think we could improve the performance. Our use case consists of playing the video and stopping at certain moments to do the annotation.

We have two t

[2021-01-20 19:23] valeriyvan opened #2695 "Label classes are not sorted in dropdown"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

User expect label classes to be sorted. But they are "nearly sorted" or "some time not sorted".

<img width="681" alt="Screenshot 2021-01-20 at 20 12 56" src="https://user-images.githubusercontent.com/163097

[2021-01-20 22:17] valeriyvan opened #2696 "[Feature request] Optional icons/thumbnails for label classes"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

It would be so helpful, especially for unexperienced annotators, to have small images along with class names. That would be especially helpful when there are many classes.

Please look on this screenshot how

[2021-01-20 22:24] valeriyvan commented on #2694
Just idea. Resize 4K video to 1080p just for annotation. And then recalculate your annotations from 1080p back to 4K.

[2021-01-21 06:13] bsekachev commented on #2695
Hi @valeriyvan

It is not exactly true. There are open issues in the list where people expect to see labels in order of adding, without any sorting. I suppose it is a right approach to sutisfly also your request. You can sort the list on your own and push them in any order you need.

[2021-01-21 06:16] #2692 closed

[2021-01-21 06:20] azhavoro commented on #2694
This is already implemented, if using video chunks (not the default), disable `use zip snippets` in the advanced settings tab.

[2021-01-21 06:22] #230 closed

[2021-01-21 06:26] bsekachev commented on #1125
We do not see the issue for a long time. Maybe it was fixed itself.

[2021-01-21 06:26] #1125 closed

[2021-01-21 06:27] azhavoro commented on #2694
@jordiori Hi, thanks for your question. I think for a start it is better to understand what is the bottleneck in your case: the download or decode speed is too slow. Also please specify what chunk size and chunk types (zip or videos) you are using.

[2021-01-21 06:31] bsekachev commented on #1109
The feature was integrated in #2094

[2021-01-21 06:31] #1109 closed

[2021-01-21 07:18] valeriyvan commented on #2695
Sounds like we need a setting how to show labels: in order how they appear or sorted.

[2021-01-21 11:05] bsekachev commented on #2695
There are different kinds of sorting (alphabetical, numeric, others custom). Support of them is not an option for CVAT. As I mentioned keeping ordering as labels appears (related #2636) would cover all the cases.

I will close this issue.

[2021-01-21 11:05] #2695 closed

[2021-01-21 15:05] jordiori commented on #2694
Hi! The bottleneck is the download speed.
The problem is we need the full resolution of the videos because the annotation needs a lot of detail. For this reason we cannot use the video chunk types (unless there's an option to not compress them), we've tried with letting CVAT decide the chunk size (which is 7) and with higher ones but the result is more or less the same (similar also to the result

[2021-01-21 21:09] valeriyvan opened #2702 "Newly created account should need approval before user can log in"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

Currently when new user creates account, it immediately can log in and see project, tasks, etc. It is absolutely no go! This configuration makes CVAT impossible to be used on publicly accessible server.

### Expected Behaviour

New

[2021-01-21 21:17] valeriyvan commented on #2695
Because different kinds of sorting options exist, it was decided not to sort at all. Bad(

[2021-01-21 21:25] valeriyvan commented on #2093
Any progress on this fix? Currently CVAT is not possible to be used on publicly accessible server. Any malicious user could register self and see everything immediately.

[2021-01-22 08:00] bsekachev commented on #2702
Duplicate of #1030, as a workaround please use the parameter 'reduce_task_visibility' (now is on line 437) in ``base.py`` as Andrey suggested.

[2021-01-22 08:00] #2702 closed

[2021-01-22 08:17] nmanovic commented on #2695
@valeriyvan , if you have a good proposal how to implement it in UI, please do that. We are happy to accept any PRs with great features which are necessary for our community. Here you report a bug. It is not a bug, it was made intentionally by requests.

[2021-01-22 08:59] azhavoro commented on #2678
In the future, we will add such functionality for projects that it will be possible to download annotations for all tasks in the project.

[2021-01-22 09:02] azhavoro commented on #2651
No response a long time, I'll close the issue. Feel free to re-open if this issue is still actual.

[2021-01-22 09:02] #2651 closed

[2021-01-22 09:07] azhavoro commented on #2569
@tankienleong any updates? Is the issue still actual for you?

[2021-01-22 09:10] azhavoro commented on #2511
No response a long time, I'll close the issue.
@peyman-sabouri feel free to reopen if the issue is still actual for you.

[2021-01-22 09:10] #2511 closed

[2021-01-22 09:20] azhavoro commented on #2139
@mosqmara I suppose the issue should be resolved, I can create a task from pdf. I'll close the issue, feel free to reopen if the issue still isn't resolved for you.

[2021-01-22 09:20] #2139 closed

[2021-01-22 09:52] nmanovic commented on #2093
@valeriyvan , above you can see a simple solution. Look at cvat.org. Can you see tasks of other users? It was created from the repo without any modifications (just setup the configuration correctly).

[2021-01-22 11:29] cyrilzakka commented on #2330
[code]

Bug is still there. Even with blazing internet speed I'm only able to download 39%

[2021-01-22 20:05] petervanya commented on #2674
I apologise.

`git log -1`:
[code]

`cvat.log`:
[cvat.log](https://github.com/openvinotoolkit/cvat/files/5858302/cvat.log)

[2021-01-22 21:30] alx- opened #2707 "inefficient polling in cvat ui (api/lambda/requests)"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

![2021-01-22 23_31_46-DevTools - cvat org_tasks_create](https://user-images.githubusercontent.com/1101458/105544222-5fe41400-5d03-11eb-99dd-65da77eb7148.png)

I registered a new user on cvat.org. Logged in and immediately noticed t

[2021-01-22 21:48] alx- opened #2708 "[security/privacy] new user can access a complete list of users via API call"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
GET /api/v1/users should not return a complete list of users

### Current Behaviour
![2021-01-23 00_35_55-User List – Django REST framework](https://user-images.githubusercontent.com/1101458/105551110-fd8f118

[2021-01-24 00:32] ericchen321 opened #2711 "tfRecord grayed out"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

When exporting a job in TFRecord format (including the `.tfRecord` file and the `.pbtxt` file) by clicking Export as a Dataset -> TFRecord 1.0, I expected the TFRecord option to be not grayed out, **as on [c

[2021-01-24 05:04] arasharchor opened #2712 "No cut, merge, auto snap feature, add points by clicking on the lines for polylines and polygons"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
I am trying to edit already annotated polylines which are not correct. I find it super difficult to edit polylines and polygons in CVAT. At the moment there is no possibilities at all to be able to add cut, m

[2021-01-24 22:58] valeriyvan opened #2713 "Autohide for popup should be changed"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

Currently if label selected in dropdown is inside of bounds of popup, popup stays open allowing annotator to choose labelling method pressing [Shape] or [Track] buttons:

![1](https://user-images.githubusercontent.com/1630974/10564

[2021-01-25 08:12] nmanovic commented on #2707
@alx- , I agree that it has to be fixed.

[2021-01-25 08:14] nmanovic commented on #2708
@alx- , on github you can see the full list of users. Does it look wrong as well? As a regular user you can see reduced information about all others. We need to support teams, but for now it is the only way to collaborate with other users.

[2021-01-25 08:15] azhavoro commented on #2711
@ericchen321 Hi, make sure that your CPU supports AVX instruction set. https://github.com/openvinotoolkit/cvat/issues/1393

[2021-01-25 09:04] alx- commented on #2708
AFAIK, there is no way to just dump a list of all github users via official API. Also github users may opt not to include their full name in user profile.

Maybe it's somehow OK for cvat.org, though as someone who registered to test it, I find it not OK at all (that's why I didn't use my real name).

For some real-life deployments it could be disastrous. Right now anyone with a link can register,

[2021-01-25 09:55] bsekachev commented on #2713
Duplicate of #2230

[2021-01-25 11:11] valeriyvan commented on #2713
Yes, but #2230 is about different popups.

[2021-01-25 11:11] valeriyvan commented on #2713
Any plans to fix?

[2021-01-25 11:43] nmanovic commented on #2708
@alx- , let's think how to resolve the issue. Probably when we add teams/groups, it will be easy to address.

[2021-01-25 13:06] ErikOrjehag commented on #1407
I had the same issue with v1.1

[2021-01-25 13:13] azhavoro commented on #1407
Fixed in version 1.2.0-beta https://github.com/openvinotoolkit/cvat/pull/2547

[2021-01-25 14:20] azhavoro commented on #2691
@amaradak I cannot reproduce this issue, please attach any sample of dumped annotation.

[2021-01-25 14:26] azhavoro commented on #2674
I've never met such error before for CVAT, looks like something wrong with your database, could you attach logs from cvat_db container as well?

[2021-01-26 08:17] bsekachev commented on #2713
Yes, we have plans to fix it.

[2021-01-26 08:33] valeriyvan commented on #2713
Create! Does it fit next release?

[2021-01-26 09:02] bsekachev commented on #2713
We will try to implement it earlier than in next release. It will be available in develop branch

[2021-01-26 11:50] petervanya commented on #2674
While executing `docker logs cvat_db >cvat_db.log`, the following was printed:
[code]

The `cvat_db.log` is attached.
[cvat_db.log](https://github.com/openvinotoolkit/cvat/files/5873086/cvat_db.log)

Thank you in advance.

[2021-01-26 12:45] manybodycpa opened #2720 "Handling umlauts when downloading annotations via API"
I noticed that when downloading XML annotations via the API, umlauts that appear in the labels are not properly handled. For example, "Õ" becomes "A" with an overline. I have verified that the problem does not occur when dumping the annotations via the GUI.

Server version: 1.2
Core version: 3.8.0
Canvas version: 2.1.2
UI version: 1.9.10

I use Ubuntu with English language settings.

[2021-01-26 22:24] rushabh31 opened #2722 "Manual configuration file for Tasks"
I am trying to deploy CVAT tool and don't want to use UI to create tasks and to upload images.  Is it possible to write a task configuration file manually and defaulting the app to read that config?
This config file would contain the path from where the images can be loaded and it would also contain labels for annotation.

[2021-01-27 04:33] thomph commented on #2147
@wenkaip-1836890 how to fix it ?, thanks

[2021-01-27 06:15] JobCollins commented on #2330
I have also experienced this issue. I'm trying to export a 5.6GB zipped dataset and the download timeout is at 1GB always. Is there a workaround for this?

[2021-01-27 07:02] azhavoro commented on #2147
@thomph make sure that user have permissions to create a task

[2021-01-27 07:10] azhavoro commented on #2330
@JobCollins Hi, try to adjust `--limit-request-body` value https://github.com/openvinotoolkit/cvat/blob/develop/supervisord.conf#L65. In the near future we plan to remove any data size limitations by default.

[2021-01-27 07:14] JobCollins commented on #2330
@azhavoro thanks for this but my annotation job was done online (cvat.org). I resolved to use online after the local installation kept failing. Or could I sign in to my online profile via local? That would be great.

[2021-01-27 07:38] JobCollins commented on #2330
Thanks a lot, @azhavoro . Using your advice,

1.I downloaded the annotations online (which has no issues downloading) then
2.uploaded the annotations to the offline installation and job
3.changed the local supervisord.conf code line 65

And I got my full dataset exported. Quite a workaround! 😁😅

[2021-01-27 07:48] aschernov opened #2723 "Add the names of damaged files in the console's messages"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

In some cases (for example, damaged files) it will be useful to see an extended information in console's messages.
### Current Behaviour

Sometimes we can't create a CVAT task due to some files inside a data

[2021-01-27 08:12] Marishka17 commented on #2548
@ZahraAnam,
Has the problem been solved? Can we close the issue?

[2021-01-27 08:14] ZahraAnam commented on #2548
Hey! No but I think its more of my institute's privacy policy.

I have some other issues. Shall I open another issue for that?

On Wed., Jan. 27, 2021, 9:12 a.m. Maria Khrustaleva <
notifications@github.com> wrote:

[2021-01-27 08:23] Marishka17 commented on #2548
Yes, I think you need to open another issue

[2021-01-27 08:29] #2548 closed

[2021-01-27 11:30] ActiveChooN commented on #2529
Guess problem with auto-annotation of the task in project should be fixed with @2725.

@jahaniam, do you mean moving task between projects? It's quite complicated task and will be implemented in future releases with developing project feature.

[2021-01-27 11:44] jahaniam commented on #2529
@ActiveChooN There is a project field for tasks. Wouldn’t changing it change the task project?

[2021-01-27 11:52] ActiveChooN commented on #2529
@jahaniam, it would, but there is annotation in the task that depend on project labels. So we need merge annotation with new label somehow before moving the task.

[2021-01-27 13:37] #2663 closed

[2021-01-27 15:38] #2661 closed

[2021-01-27 16:42] #2529 closed

[2021-01-27 16:42] #2644 closed

[2021-01-27 18:24] ErikOrjehag commented on #2668
Awesome 🙂

[2021-01-28 03:01] gengyanlei opened #2729 "can you add rotate box function？"

[2021-01-28 08:37] dvkruchinin opened #2732 "Incorrect position of the arrow on the object sidebar and Appearance."
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
The position of the arrow opposite the Details and Appearance lines

### Current Behaviour
The position of the arrow is slightly below the specified lines.
![changing_the_css_style_for_the_arrow](https://user

[2021-01-28 08:44] bsekachev commented on #2732
Maybe specific for windows OS.

[2021-01-28 08:45] bsekachev commented on #2729
This is duplicate of #1128. Please, follow the original issue.

[2021-01-28 08:45] #2729 closed

[2021-01-28 09:33] turowicz commented on #2643
cc @jahaniam

[2021-01-28 09:59] bsekachev commented on #2643
@azhavoro Could you please take a look into the issue? I suppose adding HTTP header is quite easy to fix.

[2021-01-28 12:15] nmanovic commented on #2643
@turowicz , how can we reproduce the issue on our end? Could you please contribute the code? Thus we will be able to support it and test in the future.

[2021-01-28 12:21] azhavoro commented on #2722
At the moment you can use cli.py to create a task with REST API https://github.com/openvinotoolkit/cvat/tree/develop/utils/cli.
I think it's good idea to support a task config file by CLI.

[2021-01-28 12:23] azhavoro commented on #2720
@manybodycpa please provide steps to reproduce the issue

[2021-01-28 12:26] nmanovic commented on #1128
@MadsDyrmann , why don't use a polygon with 4 points? Do you need them only in annotation files?

[2021-01-28 12:29] turowicz commented on #2643
@nmanovic The way to reproduce is with a Kubernetes cluster where all services are running as ClusterIPs, not NodePorts. That way it will require you to use cluster internal DNS (service names) and you will see the problem. Please see my fix in the commit mentioned in the original description.

[2021-01-28 12:59] bsekachev commented on #2621
Hi @Inquisitive-ME, what is your screen resolution? Do you use windows system scale?

[2021-01-28 13:30] manybodycpa commented on #2720
Here is a minimal example:

* Create task with any video and the following label:

[code]

* Add a track with attribute test_label set to "ÄÖÜäöü"

* Dumping annotations as CVAT-Video via the GUI gives an XML file with, for example,

  `<attribute name="test_label">ÄÖÜäöü</attribute>`

* Downloading annotations via the API and saving the response in an XML file (or simply printing it to the termin

[2021-01-28 13:45] bsekachev commented on #2621
@Inquisitive-ME never mind, was able to reproduce it in chrome dev tools with 1360x768 resolution. I hope the patch above will help you with it. Let me know if it will not.

[2021-01-28 13:51] smoosbau opened #2737 "Git repository not working from web-app"
### My actions before raising this issue
- [ X] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [ X] Searched [past issues](/issues)

If setting a dataset repository URL  for a task submission fails. But if checking out the same repository from within the container (docker exec ...) it works perfectly fine and as expected.

### Expected Behaviour
Set dataset re

[2021-01-28 13:58] azhavoro commented on #2737
@smoosbau Hi, please attach logs from cvat container `docker logs cvat > cvat.log`

[2021-01-28 14:31] smoosbau commented on #2737
@azhavoro Thanks for your comment. Due to it I know where the error is coming from.
I can only choose betwen an https:// link or an ssh:// link. Sadly the first one needs user and password and the second one is not supported from the web GUI and thus I tried to use <remote link> instead of ssh://<remote link>.
'docker exec -it cvat bash -ic 'git clone -v ssh://git@bitbucket.opt01.net:7999/ip/cvat_

[2021-01-28 17:24] #2621 closed

[2021-01-28 17:24] #2732 closed

[2021-01-29 03:45] ericchen321 commented on #2711
Hey @azhavoro , thanks for the help! Yes, my CPU (Xeon E5-1650) supports the AVX instruction set, based on docs I found [here](https://ark.intel.com/content/www/us/en/ark/products/64601/intel-xeon-processor-e5-1650-12m-cache-3-20-ghz-0-0-gt-s-intel-qpi.html). Also if I ssh into the docker container, and run `pip list`, I cannot see `tensorflow` listed.

[2021-01-29 07:02] azhavoro commented on #2711
@ericchen321 probably there is an issue with tensorflow==2.4.0 https://github.com/openvinotoolkit/cvat/blob/develop/cvat/requirements/base.txt#L42 which requires avx2 support, and looks like this was removed in 2.4.1 (https://github.com/tensorflow/tensorflow/issues/45866). could you please change corresponding line in the base.txt and send PR if it that helps?

[2021-01-29 11:32] bsekachev opened #2742 "Migration from NPM 6 to NPM 7"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Steps
- [ ] Setup npm 6 explicitly in documentation (CONTRIBUTING.md)
- [ ] investigate "workspaces" feature in npm 7
- [ ] If it is suitable in our case, need to migrate all to npm 7 (development, CI, docker)

[2021-01-29 11:51] amaradak commented on #2691
@azhavoro Hi Andrey, I'm attaching the sample frames with the raw json used for the task. The annotations here, should start with 0, but starting with the stop frame id 171.
[task_fcwsample-2021_01_21_12_53_34-cvat for images 1.1.zip](https://github.com/openvinotoolkit/cvat/files/5893649/task_fcwsample-2021_01_21_12_53_34-cvat.for.images.1.1.zip)

[2021-01-29 21:26] jahaniam opened #2745 "subtractive grouped shapes required"
I have annotations similar to the following. As far as I understood CVAT does not support annotations like this, even importing annotation using the segmentation mask method fails. It would be nice in the grouped polygons, each could have attributes `additive` or `subtractive` then converting this binary mask to polygon would be the outer addictive polygon grouped by the subtractive inner polygon.

[2021-01-31 14:07] whiteocean016 opened #2747 "Automatic annotation YOLO error"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
Using Yolo-v3 AI tool should give the detected bboxes as annotations in CVAT.

### Current Behaviour
After clicking "Annotate" I get this error in the CVAT UI:
[code]

### Possible Solution
Possibly CVAT erro

[2021-02-01 07:55] bsekachev commented on #2337
Latest appeared on November 3rd in our dependencies. Probably was fixed.

[2021-02-01 07:55] #2337 closed

[2021-02-01 07:58] bsekachev commented on #2380
OpenCV Intelligent scissors was implemented in #2689. They are not exactly Magic Wand from photoshop, but looks similar. In the future it is also possible implement magic wand. I'll move the issue to backlog.

[2021-02-01 08:55] azhavoro opened #2750 "[Bug] TypeError: Cannot read property 'focus' of null"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

[code]

### Steps to Reproduce (for bugs)

1. N/A

### Context

### Your Environment

- Git hash commit (`git log -1`): 3ced77ccc6065ab57c64a50fba81bc16573d5d40
- Docker version `docker version` (e.g. Docker 17.0.05):
- Are you usi

[2021-02-01 10:08] AlexandrMoruk commented on #2747
I have same problem for all automatic segmentation models

[2021-02-01 13:27] bsekachev commented on #2747
Hi @whiteocean016

I was not able to reproduce the issue on both my local setup & cvat.org. Could you please provide more details? Task labels, images, nuclio response, etc. More details -> more chances to reproduce and fix.

[2021-02-01 13:31] bsekachev opened #2753 "AI Tools state reset after reopen"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
After reopening a dropdown with AI tools, it shows the previous state

### Current Behaviour
After reopening a dropdown with AI tools, it loses state (current tab, selected model, mapping).

### Possible Solu

[2021-02-01 15:34] MrSouwbauck opened #2754 "automatic annotation with custom models"
Hi,
Is there a way to make auto annotation working with custom models ? I have my own custom dataset so i can't use the generic models. I already have custom models (.h5 tensorflow models).
thanks in advance.

[2021-02-02 03:02] victor-ab opened #2755 "[Feature request] Smart attribute keeper"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

![image](https://user-images.githubusercontent.com/26576394/106546172-6fc0dc80-64e9-11eb-908c-911fbf0620c8.png)

### Expected Behaviour
If you change the current label to another label with the same attribute name, keep the attribu

[2021-02-02 06:35] #2633 closed

[2021-02-02 08:00] nmanovic commented on #2754
@azhavoro , could you please add the question to FAQ and close the issue?

[2021-02-02 08:10] MrSouwbauck opened #2757 "Upload annotations transform track in shape"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
When uploading tracking annotations in format that support it (eg pascal voc, coco), annotations should be tracks.
### Current Behaviour
When uploading tracking annotations, annotations always became shape an

[2021-02-02 09:19] zhiltsov-max commented on #2757
Formats that support tracks are those, that designed for tracks, i.e.
- CVAT for video
- MOT
- MOTS

Other formats are not supposed to support importing of tracks.

[2021-02-02 09:44] MrSouwbauck commented on #2757
okay, I tried CVAT for images but forget to try CVAT for video. thanks

[2021-02-02 09:44] #2757 closed

[2021-02-02 09:46] ErikOrjehag commented on #1092
@azhavoro @nmanovic It seems from this issue https://github.com/openvinotoolkit/cvat/issues/1026 that he found some kind of solution to this problem. Do you think you could help me figure out what he did? When the ordering of the images are changed it becomes a hazzle for the annotator because he can not use tracks properly.

[2021-02-02 10:20] ZahraAnam opened #2759 "FeedBack - Some extended problems"
I again thank the Cvat community for creating this amazing open source annotation tool, it has saved us so much time and effort.
While working with it I have observed certain things, if these could be resolved it will improve for better.

As we are trying to add some attributes to label too that include Pose and some other details, while doing so,

I  realized, that when I change a detail of a box

[2021-02-02 11:39] lisc199 commented on #2317
@xyc2690 Hi~ I have the same requirement. Have you achieved this function?

[2021-02-02 13:31] xs818818 opened #2761 "Use myself DL models have problem"
When i use
./nuctl create project cvat

./nuctl deploy --project-name cvat \
    --path "$SCRIPT_DIR/darknet/yolov4/nuvlio" \
    --platform local \
    --desc "yolov4 GPU API" \
    --resource-limit nvidia.com/gpu=1

./nuctl get function
I success,but how can i revise cvat code

[2021-02-02 15:06] dreaquil opened #2762 "[CLI] Unable to create task"
### My actions before raising this issue
- [ x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [ x] Searched [past issues](/issues)

Similiar to #1522. CLI LS works, CLI create doesn't. This from my local machine to my local host instance.

`python utils/cli/cli.py --auth user:pass --debug create task3 local img000.jpg`

### Debug output
[code]

### Next steps

[2021-02-02 16:06] dreaquil commented on #2762
Server error logs:
[code]

[2021-02-02 16:39] whiteocean016 commented on #2747
Hi
Thanks for trying it out. Here is some more information.
If some other info is needed I will provide it.

- labels constructor I use for the project:
[code]
- screenshot of error reproduction
![Screenshot_01_ai_tool](https://user-images.githubusercontent.com/9989856/106624799-531eb600-6576-11eb-800c-b95da9808453.png)
![Screenshot_02_error](https://user-images.githubusercontent.com/9989856/10662

[2021-02-02 16:57] dreaquil commented on #2762
Issue was that I was not including a labels.json

[2021-02-02 16:57] #2762 closed

[2021-02-02 17:55] zhiltsov-max commented on #2759
There are 2 kinds of attributes - per-track and per-frame. When registering an attribute, there is a `Mutable` checkbox to switch between 2 variants.
![](https://github.com/openvinotoolkit/cvat/raw/develop/cvat/apps/documentation/static/documentation/images/image125.jpg)

[2021-02-02 19:15] nmanovic commented on #2745
@jahaniam , it is supported. If black is background, then you can use z-order to correctly generate the mask. Look for z-order in documentation.

[2021-02-02 20:57] AlexandrMoruk commented on #2747
All models working in Firefox, but chrome is not

[2021-02-02 23:17] jahaniam commented on #2745
Thanks

[2021-02-02 23:17] #2745 closed

[2021-02-03 01:22] xs818818 commented on #2761
How can i use function.ymal spec label in dynamic

[2021-02-03 02:12] xs818818 commented on #2761
Can you tell me where is post for buf = io.BytesIO(base64.b64decode(data["image"].encode('utf-8')))

[2021-02-03 04:11] svenvanbuurennl commented on #1092
@ErikOrjehag I managed to create a temporary solution to the problem by following the changes in this [Pull Request](https://github.com/openvinotoolkit/cvat/pull/867/files/9359b647cfac02be8f029561c4739b3e744cb2ea).

[2021-02-03 09:57] #2761 closed

[2021-02-03 10:08] dreaquil commented on #1228
We would also be interested in having this feature.

[2021-02-03 16:37] bsekachev opened #2765 "Intelligent Scissors add documentation"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

Need to add a piece of documentation to the user guide about the feature of intelligent scissors #2689 (how to use, etc)

[2021-02-03 16:37] #336 closed

[2021-02-03 16:46] nmanovic commented on #2765
@aschernov , could you please look at the issue?

[2021-02-03 18:32] artakvg commented on #2537
@nmanovic we have the same problem when we want to make CVAT easily deployable and accessible for our users.
If someone can guide us where to look, we can try to fix it.

[2021-02-03 18:32] artakvg commented on #2537
@riyamittal34 did you find the solution?

[2021-02-03 19:23] nmanovic commented on #2537
@vnishukov , it is something critical. Need to provide a solution to our users.

[2021-02-03 19:33] nmanovic commented on #2537
@artakvg , a quick answer. It is due to cross origin policy. I'm not sure but probably you need to modify CVAT server settings. Look at settings for the django app: https://pypi.org/project/django-cors-headers/. Let me know if it doesn't help.

[2021-02-04 02:47] mozheng commented on #1236
same question.你怎能没解决的？

[2021-02-04 06:26] aschernov commented on #2765
@bsekachev , how can we test this function? Seems the tool hasn't been updated yet.

[2021-02-04 10:08] ZahraAnam commented on #2759
Right! Can you explain the utilization a little more in detail please

[2021-02-04 11:32] zhiltsov-max commented on #2759
Please, read the documentation https://github.com/openvinotoolkit/cvat/blob/develop/cvat/apps/documentation/user_guide.md#vocabulary

[2021-02-04 12:22] DmitriyOparin opened #2767 "[Bug] The max_distance value is None in _call_reid function always."
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
The max_distance value equal to transferred value from API or GUI.

### Current Behaviour
The max_distance value is None always.

### Possible Solution
Fix the bug.

### Steps to Reproduce (for bugs)

1. Crea

[2021-02-04 13:06] DmitriyOparin opened #2769 "[Bug] UnboundLocalError at auto-annotations with empty data."
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
UnboundLocalError does not occurs. Response returned with status code = 400 Bad Requests.

### Current Behaviour
UnboundLocalError occurs.

### Possible Solution
Fix the bug.

### Steps to Reproduce (for bugs

[2021-02-04 13:12] vnishukov commented on #2537
@riyamittal34, @artakvg, @nmanovic

I'm afraid django settings won't help here. This is due to **Same Origin Policy**, which handled by browser. Long story short it's a security mechanism which blocs access to IFrame from different origin, and by origin means **protocol://hostname:port**, all of these 3 entries are mandatory to be the same as of single origin. In the case above I believe that host

[2021-02-04 13:33] DmitriyOparin opened #2770 "Exception 'incorrect requested frame number' does not handle."
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
Response returned with status code = 400 Bad Requests.

### Current Behaviour
Exception: Incorrect requested frame number: 12345

### Possible Solution
Fix the bug.

### Steps to Reproduce (for bugs)

1. Crea

[2021-02-04 17:30] whiteocean016 commented on #2747
I get the same error in Firefox and Chrome.

[2021-02-05 06:06] zhouyuangan commented on #1071
same problem

[2021-02-05 07:20] bsekachev commented on #1694
Now git pre-commit hook doesn't allow to commit something with a wrong header. The issue is not relevant anymore.

[2021-02-05 07:20] #1694 closed

[2021-02-05 08:10] DmitriyOparin opened #2773 "[Bug] The 'Tracking error occured' message displayed at successful auto-annotations at use tracker function."
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
Objects were selected and error message does not display.

### Current Behaviour
Objects were select and error 'Tracking error occuruced, Error: Frame 10 does not exist in the job' message display.

### Possi

[2021-02-05 08:12] vnishukov commented on #2537
@riyamittal34, do you use some virtual machine to run CVAT or your app?

[2021-02-05 08:25] vnishukov commented on #2537
@riyamittal34, @artakvg

As a temporary workaround (to keep your work going) try to use chrome with **--disable-web-security --user-data-dir="[tmp dir here]"** option. This will disable same origin policy. Of course it will affect only your local browser, but you'll be able to continue work while we searching for better solution.

[2021-02-06 04:33] frankmanbb commented on #863
@Marishka17 I've seen you have a PR there. Does it mean you are actively working on implementing this feature? Thanks!

[2021-02-06 11:48] xs818818 opened #2776 "Can you tell me how to add new DL by my self"
metadata:
  name: darknet-yolov4
  namespace: cvat
  annotations:
    name: yolov4
    type: detector
    spec: |
      [
        { "id": 1, "name": "person" },
        { "id": 2, "name": "bicycle" },
        { "id": 3, "name": "car" },
        { "id": 4, "name": "motorbike" },
        { "id": 5, "name": "aeroplane" },
        { "id": 6, "name": "bus" },
        { "id": 8, "name": "train" },

[2021-02-06 11:50] xs818818 commented on #2776
If i only use siammask i will success

[2021-02-06 14:44] #2776 closed

[2021-02-06 14:51] xs818818 opened #2777 "500 Server Error: Internal Server Error for url: http://nuclio:8070/api/function_invocations"
I have
http://localhost:8070/api/function_invocations
Can you tell me how to change nuclio to  localhost

[2021-02-07 14:01] yohayonyon opened #2779 "Garbage on the beginning and on the end of annotation dumps generated using the CLI"
### My actions before raising this issue
- [v] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [v] Searched [past issues](/issues)

### Expected Behaviour

The files usualy started with
`<?xml version="1.0" encoding="utf-8"?>`
and finished with
`</annotations>`

### Current Behaviour

A few garbage characters are added before the beginning and after the end of

[2021-02-08 05:49] bsekachev commented on #2765
@aschernov The server was updated, Please, additional to the documentation provide a feedback to the feature (what is good, what is wrong, what errors you met, etc.)

[2021-02-08 06:14] bsekachev commented on #2765
@aschernov Fixed.

@azhavoro We have separated cvat-proxy for cvat.org and the internal server. I've updated them (to get opencv works), should we commit the changes or left it as is?

[2021-02-08 07:12] #2460 closed

[2021-02-08 15:37] bsekachev commented on #2747
Hi, @whiteocean016

Sorry for delay.
From data you provided I get back to CVAT 1.2.0, created task with these labels:

[code]

and your image, but I still was not able to reproduce the bug.

![Screenshot from 2021-02-08 18-28-57](https://user-images.githubusercontent.com/40690378/107241088-b3f93300-6a3b-11eb-8023-a70db7f66c15.png)

As you can see on the screenshot, from server I get only "person"

[2021-02-08 17:10] whiteocean016 commented on #2747
Hi @bsekachev

Np, thanks a lot for helping.
It turns out I get the same payload and response as you. Here is the payload:
![Screenshot from 2021-02-08 18-08-05](https://user-images.githubusercontent.com/9989856/107255526-b017e180-6a38-11eb-84ce-b7d8124fb50b.png)
And here is the response:
![Screenshot from 2021-02-08 18-04-02](https://user-images.githubusercontent.com/9989856/107255510-abebc400-6a

[2021-02-08 19:05] bsekachev commented on #2747
@whiteocean016

Hmm.. not exactly. I see request payload is the same, but the response is different.
In my case I have only persons, you also have suitcase, tvmonitor, backpack.
And it is a reason why UI fails, because it doesn't expect these labels to appear at all.

Let me know one more thing, is the task created within a project?

[2021-02-08 19:14] whiteocean016 commented on #2747
Aha you are right about the labels, I totally missed that.

Yes the task was created within a project.

[2021-02-08 19:17] bsekachev commented on #2747
@whiteocean016

So, finally I was able to reproduce the issue and glad to say that it has been already fixed in #2725.
Please, update CVAT from develop branch and thanks for your support.

Also one more PR has been recently submitted #2780 to fix quite serious usability issue with AI Tools #2753 and I would recommend you to wait it to be merged (I hope we will do it tomorrow).

@AlexandrMoruk FYI

[2021-02-08 19:17] #2747 closed

[2021-02-09 05:48] christian-cahig commented on #1240
Worked for me as well.

[2021-02-09 10:25] azhavoro commented on #2777
@xs818818 sorry, I'm not sure that understand your question, please explain what is your issue exactly.

[2021-02-09 11:10] #2753 closed

[2021-02-09 11:42] zhiltsov-max commented on #2779
Both gui and cli return zip archives.

[2021-02-09 12:24] yohayonyon commented on #2779
I am using v1.1.0 anf I get an XML when using CLI. Was this changed on a newer version?

[2021-02-09 12:39] zhiltsov-max commented on #2779
It was changed prior to 1.0.0.

[2021-02-10 00:22] #2777 closed

[2021-02-10 08:46] bsekachev commented on #2750
Please, look at this bug. Need to find a reason and fix it before release 1.3.0-alpha.
You can use Kibana analytics on cvat.org to find out user scenarios

[2021-02-10 08:47] bsekachev commented on #2750
@vnishukov

Please, look at this bug. Need to find a reason and fix it before release 1.3.0-alpha.
You can use Kibana analytics on cvat.org to find out user scenarios

[2021-02-10 08:56] bsekachev commented on #2712
Hi @arasharchor , thanks for the feedback.

Please, to help us and community describe the features that you expect to see in more details.
It would be great also if you provided some examples.

[2021-02-10 08:57] bsekachev commented on #2720
@azhavoro Andrey, please try to reproduce and assign a bug label if applicable.

[2021-02-10 08:59] bsekachev commented on #2694
@azhavoro Do you consider the issue as a task for Maria?

[2021-02-10 09:04] bsekachev commented on #2691
Hi @amaradak

In your task what is the first image filename in UI?

@azhavoro attached XML actually has images sorted by top -> down of IDs. I suspect XML writer, but need to understand what image is actually first in the task

[2021-02-10 12:55] nmanovic commented on #2326
fBRS is working on cvat.org and locally. I will close the bug request. Don't hesitate to reopen if it is still an issue.

[2021-02-10 12:55] #2326 closed

[2021-02-10 14:36] #2227 closed

[2021-02-10 14:36] #2684 closed

[2021-02-10 15:13] amaradak commented on #2691
@bsekachev Hi Boris,

The very first image which appears here is the one with ID="0", viz., RecFile_DC_GT03_1_B3F1G1L2R1_0_20200707_220031_FFC_HDMI_1_outputIplImage_007371.jpg. Which is as expected. However, its just the sequence which seem to be in reverse order

[2021-02-11 05:14] nmanovic opened #2792 "Nightly build is failed (.cvat-draw-polygon-popover-visible never found)"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

CI tests have to be robust.

### Current Behaviour

[code]

### Steps to Reproduce (for bugs)

https://github.com/openvinotoolkit/cvat/actions/runs/556084657

### Context

Nightly testing on our CI

[2021-02-11 05:29] dvkruchinin commented on #2792
This is similar to the situation after the antd update. And is reproduce frequently in Firefox browser in headless mode. The error became reproducible after the commit merge #2780 . I will try to solve it by means of Cypress.

[2021-02-11 09:08] PMazarovich opened #2793 "Database-cache problem"
### My actions before raising this issue
- [x] Discussed this in gitter with developer

### Current Behaviour
Right after deployment of 1.2.0 release we receive this errors frequently after uploading multiple videos:
First:
[code]
Second:
[code]

### Possiible cause

1. Database is under lock - first error
2. Error is ignored, cache object deletes
3.  While deletion field is not initialized and se

[2021-02-11 11:31] artakvg commented on #2111
Hi @zhiltsov-max  and @somilshah-q , I am experiencing the same issue, just deployed CVAT master branch.

[2021-02-11 11:34] zhiltsov-max commented on #2111
Should be fixed in https://github.com/openvinotoolkit/cvat/pull/2756

[2021-02-11 12:30] DouglasLivingstone commented on #2480
I'm also seeing this issue, in the Chrome console there is a 404 error for:

[code]

It looks like that should be generated in [base_page.html](https://github.com/openvinotoolkit/cvat/blob/e786f198c5e7724851839b3babe6a610deebcea1/cvat/apps/documentation/templates/documentation/base_page.html) by this block:

[code]

Is this an issue with caching the template after first build, but not the compress

[2021-02-11 14:59] PMazarovich opened #2795 "Remote sources error"
### My actions before raising this issue
- [x] Searched [past issues](/issues)

### Expected Behaviour
I assume, there might be some other error message

### Current Behaviour
Error: Could not create the task on the server. TypeError: can only concatenate str (not "gaierror") to str.
Or you may get this:
TypeError: can only concatenate str (not "SSLCertVerificationError") to str

### Steps to Repr

[2021-02-11 16:07] rsnk96 commented on #2657
Agreed, this would help a lot! :+1:

[2021-02-11 20:58] johnnync13 opened #2798 "Error Shapely M1(Apple Silicon)"
### My actions before raising this issue
- [ X ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [ X ] Searched [past issues](/issues)

### Expected Behaviour

Now, I have the new mac m1. There are some issues with some libraries like Shapely.

### Current Behaviour

When I'm building the docker, there is an issue with Shapely library.

### Possible Solution

T

[2021-02-11 21:44] ChrisPHP opened #2799 "Numpy version 1.20 conflict"
### My actions before raising this issue
- [ X ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [ X ] Searched [past issues](/issues)

### Expected Behaviour

Should successfully install the cvat/requirements/development.txt as shown in the CONTRIBUTION.md.

### Current Behaviour

When attempting to install development.txt it will use NumPy version 1.20 causin

[2021-02-12 04:53] smallbee3 commented on #2591
@cstamatopoulos

Thanks for the solution!

But it seems there is a typo in your `to restore` command

`/backup/cvat_db.tar.bz2` -> `/backup/cvat_data.tar.bz2`

<br>
<br>

and to restore
[code]

[2021-02-12 08:18] #7 closed

[2021-02-12 09:27] bsekachev commented on #2799
@azhavoro Could you please look at the issue? I think it should not be difficult to fix, but it affects community when they try to setup dev environment

[2021-02-12 09:31] bsekachev commented on #2798
Hi @johnnync13

Can you please provide more details on the issue?
IMHO M1 is a new CPU which is not fully supported by different dependencies yet. I am not sure it is direct CVAT issue, because CVAT is just a web app built on many 3rdparty components.

[2021-02-12 11:28] johnnync13 commented on #2798
I would like to test CVAT with m1 as tensorflow v2.4.0 is compatible with Apple Silicon.
I attach the image @bsekachev
<img width="789" alt="107269600-207b2e80-6a4a-11eb-8d43-d3c33b4d143a" src="https://user-images.githubusercontent.com/22727137/107762723-be624800-6d2d-11eb-8cd4-8480e26689b7.png">

[2021-02-12 11:54] aschernov commented on #2765
**What is good:**

1. The tool is well-suited for annotation of complex shapes on a contrast background.
![1](https://user-images.githubusercontent.com/45849884/107763699-173adc00-6d40-11eb-991f-a4059ab01496.png)
![2](https://user-images.githubusercontent.com/45849884/107763758-24f06180-6d40-11eb-8f76-774568bf0d7b.png)
2. The main advantage of the tool is an option to see the final line and change

[2021-02-12 12:52] bsekachev commented on #2765
@aschernov

Thanks for the feedback. I'll create a separate issue with these cons.

[2021-02-12 12:52] #2765 closed

[2021-02-12 12:53] bsekachev opened #2800 "OpenCV Intelligent scissors improvements"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

From customer's feedback.

1. Fully finished polygons often have two points in one place
2. Sometimes there are strong deviations of automatically created line which are difficult to control because even the slightest cursor shift

[2021-02-12 12:53] bsekachev commented on #2765
Created issue #2800

[2021-02-12 14:17] nmanovic commented on #2800
The tool is already implemented in popular graphical editors. I will suggest following BKMs:  https://www.photoshopessentials.com/basics/selections/magnetic-lasso-tool/.

[2021-02-13 22:12] mistermult opened #2802 "[Feature request] Save ID of each annotation into CVAT XML"
### My actions before raising this issue
- [x ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

Currently each annotation is saved like this in the CVAT XML:
[code]
In one image there might be multiple points with label "LeftEye". I would save the internal id to the CVAT XML like so
[code]
and order the XML file by image and

[2021-02-14 12:54] #2792 closed

[2021-02-14 19:40] dyt811 commented on #2473
Reproduced the issue using a small 5 images test data set in both Win10 / Ubuntu20 OS (I was originally hoping to incorporate my new label txt files are Windows based and I thought CRLF was originally the problem before running into this issue).

Further testing in both OS suggests the issue is more than CRLF as default YOLO 1.1 label zip output from CVAT in YOLO 1.1 format cannot be imported back

[2021-02-14 23:18] arasharchor opened #2803 "Request missing features for polyline: cut, merge , direct add pts in the middle of two points, curve lines"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
To be able to cut a polyline into to parts or cut a part of line in the middle to turn a polyline into 3 polylines.
To be able to merge two polylines
To show a point in the middle of two points as possible ad

[2021-02-14 23:22] #2803 closed

[2021-02-14 23:27] arasharchor commented on #2712
@bsekachev
Thanks for your reply.

I'd love to do that.

When annotating polylines, sometimes one is need to cut a part of polyline in the middle maybe because it was annotated wrongly or one wants to cut a polyline  into two lines so they can have different label classes.
On the other hand, sometimes we want to merge two polylines with each other but the tool does not allow it.
The situation is e

[2021-02-14 23:33] arasharchor commented on #2385
@bsekachev
any updates on this?

[2021-02-14 23:35] arasharchor commented on #2381
@bsekachev
@borgarpa
when the objects have overlap with each other, merging them by grouping them should merge them into object which is the union of two objects. This is my understanding of merging.

[2021-02-15 01:07] vibhubithar opened #2804 "Macbook pro with Linux 18.04 and docker cvat -> when trying to open in browser giving error"
Steps:
installed linux 18.04 on Macbook pro
installed docker
ran openvino docker image -> tested / working
docker pull openvino/cvat_ui
docker run -p 80:80 --name some-cvat-ui -d openvino/cvat_ui

ran locahost:80 (tried both firefix and chrome)

TypeError
n.map is not a function

pl<@http://localhost/cvat-ui.b7bb8e626f20982c98d1.min.js:365:390070
qo@http://localhost/cvat-ui.b7bb8e626f20982c98d1.mi

[2021-02-15 04:44] nmanovic commented on #2473
@yasakova-anastasia , could you please take the issue and fix?

@DmitriyOparin , could you please add test?

[2021-02-15 04:50] nmanovic commented on #2712
@arasharchor , could you please explain more you use case?

Why is it critical to have an online tool for all these actions? I'm OK to implement important features for annotations. Just need to understand better the use case. Please write me a message on nikita dot manovich at sign intel dot com.

[2021-02-15 07:50] azhavoro commented on #2795
Fixed in https://github.com/openvinotoolkit/cvat/pull/2683. @PMazarovich Please reopen if this patch doesn't work for you.

[2021-02-15 07:51] azhavoro commented on #2779
@yohayonyon May I close the issue?

[2021-02-15 08:15] Marishka17 commented on #863
@frankmanbb , Hi
Yes, I am working on implementing this functionality.
But this functionality depends on this [PR](https://github.com/openvinotoolkit/cvat/pull/2763)
Deadlines - end Q1'21

[2021-02-15 08:38] bsekachev commented on #2385
@arasharchor

The issue has been moved to backlog. It means, that the core team doesn't have any current plan on implementation of this.
CVAT is an open source tool and we hope the community help us with development it because internal resources are restricted

[2021-02-15 09:01] bsekachev commented on #2802
Duplicate of #893

[2021-02-15 09:15] zhiltsov-max commented on #2612
@jahaniam, the following fields are marked `Unknown`, because their values are unknown. `Source` section in PASCAL has no relation to the way of obtaining annotations in CVAT.

[code]

[2021-02-15 09:15] MaloM-CVision commented on #2754
@azhavoro, i'm also interested by this functionnality.

[2021-02-15 09:17] PMazarovich commented on #2795
There is no fix of error creation code in this patch.
[code]
Regarding the fixed certificates issue: it is better to invoke `update-ca-certificates` after `installation of ca-certificates`

[2021-02-15 10:02] yohayonyon commented on #1535
This issue happens with a clean v1.2.0 build.
![Screenshot from 2021-02-15 11-54-12](https://user-images.githubusercontent.com/61744528/107931916-9a993f00-6f85-11eb-9320-1cfb3a6c6898.png)

[2021-02-15 10:02] azhavoro commented on #2795
I believe the invoke of `update-ca-certificates` should be triggered by apt during installation, https://salsa.debian.org/debian/ca-certificates/-/blob/master/debian/ca-certificates.postinst#L144-150
Sorry, I didn't notice that you are using an inaccessible remote url on the first reading, lets keep the issue open.

[2021-02-15 10:05] yohayonyon commented on #2779
No, it has just happened with a clean v1.2.0 build.
![Uploading Screenshot from 2021-02-15 11-54-12.png…]()

[2021-02-15 11:15] #1565 closed

[2021-02-15 11:15] yohayonyon commented on #1565
Did not happen on v1.2.0.

[2021-02-15 11:43] bsekachev opened #2807 "Issues with polyline editing"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

### Current Behaviour

### Possible Solution

### Steps to Reproduce (for bugs)

1. Create a polyline, start editing it from the center (Shift + Click)
1. Draw correcting line
1. Move mouse a bit, try to pre

[2021-02-15 11:44] bsekachev commented on #2712
It is supposed that CVAT is able to do it, but I now find that the feature doesn't work properly. I've submitted issue #2807

[2021-02-15 12:30] arasharchor commented on #2712
@nmanovic @bsekachev
@nmanovic  given the @bsekachev reply, shall I still send you an E-mail? It seems the feature is confirmed by @bsekachev to be working not properly.
Thanks a lot for your reply. In our group, students are annotating aerial images for our department research project.

Polyline Merging:
We are annotating the edge of roads and sometimes, we need to combine two polylines with each

[2021-02-15 12:34] bsekachev commented on #2712
@arasharchor

My reply is related only with one specific feature you described.

[2021-02-15 12:53] arasharchor commented on #2712
@bsekachev
I see. I will then write an E-mail to Nikita for other features.

[2021-02-15 13:42] ZahraAnam commented on #2759
Just wondering if there could be some way to handle noisy frames, just in case if some frame is noisy and has nothing to be labelled and can be tagged noise.

[2021-02-16 00:48] suryapraneeth opened #2810 "content type is wrong for the tasks data get REST API endpoint"
### My actions before raising this issue
- [y] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [y] Searched [past issues](/issues)

### Expected Behaviour

The content type should be 'image/png' for the /tasks/{id}/data endpoint for the get request

### Current Behaviour

The current content type is a list ['image/png', None] for the /tasks/{id}/data endpoint f

[2021-02-16 09:11] bsekachev commented on #2773
@ActiveChooN Could you please look at the issue till the next release (February 28)?

[2021-02-16 09:27] ActiveChooN commented on #2773
@bsekachev, sure

[2021-02-16 09:52] bsekachev commented on #205
The issue was relevant on previous UI version.
Now CVAT has different approach when creating a task (we do not use dialog windows and we do not have cancel button now). Also it was not explained clearly what behavior expected when reopen creating page.

Because of this reasons I'll close the issue. Do not hesitate comment and reopen it if you mean it is still relevant.

[2021-02-16 09:52] #205 closed

[2021-02-16 10:41] bsekachev commented on #204
@Marishka17 Do you think the issue was implemented in #2377?

[2021-02-16 10:45] bsekachev commented on #1065
@azhavoro Do you think publishing CVAT on dockerhub closes the issue?

[2021-02-16 11:48] PMazarovich opened #2814 "Assertion error while uploading "cvat for videos""
### My actions before raising this issue
- [x] Discussed this with developer in gitter

### Current Behaviour
I has some annotated video in one deployment and I am willing to copy this video with annotations on other one. So, I dumped annotations as cvat for video from old and uploaded them to the new. And here is an error.
Other formats like "cvat for images" or "labelme" works fine.
[annotations

[2021-02-16 11:53] azhavoro commented on #1065
I think that the described problem should be fixed, let's close the issue.

[2021-02-16 11:53] #1065 closed

[2021-02-16 11:57] azhavoro commented on #2814
@PMazarovich I can't find the related error logs in gitter, could you please attach them as well?

[2021-02-16 12:10] PMazarovich commented on #2814
Error log added

[2021-02-16 12:24] Marishka17 commented on #204
@bsekachev, I think yes.

[2021-02-16 12:26] #204 closed

[2021-02-16 16:55] lgg opened #2817 "Can't auth after cvat update"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

I have updated CVAT instances with: `git pull`, edit docker-compose.yml for my setup and `docker-compose up`
And now I can't login to the system

in docker logs:
[code]

in CVAT UI:
[code]

### Your Environment
docker version:
[cod

[2021-02-16 20:45] azhavoro opened #2818 "Cancel any previous runs that are not completed for a CI workflow"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

If the PR is updated, previous workflows that are still running may be canceled.

### Possible Solution
https://github.com/styfle/cancel-workflow-action

[2021-02-16 20:50] azhavoro opened #2819 "Collect docker container logs as artifacts for failed build runs"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

Sometimes, container logs can be helpful on failed build runs

[2021-02-17 00:50] miseonkang opened #2820 "AI TOOL : Detection error occured"
I am currently testing the work on the CVAT site(cvat.org), and I tried to find cars and people using the automatic detector function using Yolov3 of AI TOOL.
However, the following message appears.

Is there no workaround?

**_**Error: Request failed with status code 500. "500 Server Error: Internal Server Error for url: http://nuclio:8070/api/function_invocations".**_**

[2021-02-17 03:01] gachiemchiep commented on #2189
I also have this issue.
I tried "develop" and "v1.2.0" branch but both have the same error.

![image](https://user-images.githubusercontent.com/2300329/108150185-9a30ad80-7117-11eb-9ab1-cdcd651df667.png)

The annotation for the first image is generated, but it is failed for the rest.
I guess some code after draw annotation to image failed to execute.

[2021-02-17 03:21] davodogster commented on #2227
I think I suggested IOG Integration many months ago but there seems to be no record of that anymore.

[2021-02-17 05:04] kondrusrividya commented on #2157
I am getting the error 400 while trying save annotations or export as a dataset .

[2021-02-17 07:17] azhavoro commented on #2157
@kondrusrividya try to login CVAT in a new browser tab

[2021-02-17 07:23] kondrusrividya commented on #2157
I did open cvat in new tab by leaving current tab open but lot of work is not there in the new tab. Is there any way to save my work without loosing

[2021-02-17 07:52] azhavoro commented on #2157
Just login in the new tab, switch to the old tab and try to save.

[2021-02-17 08:02] kondrusrividya commented on #2157
No use . Same error 401.

[2021-02-17 08:22] nmanovic opened #2823 "Scrolling is visible for the side panel with tools"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

![image](https://user-images.githubusercontent.com/40690625/108175246-9732be80-7111-11eb-819b-5e0475cc63bb.png)

### Expected Behaviour

When I change the scale (using ctrl+-), the panel should not have scrolling at all.

### Curre

[2021-02-17 09:26] bsekachev commented on #2820
Hi,

Try to re-deploy the model.
Probably related #2280

[2021-02-17 09:30] bsekachev commented on #2817
Hi,

I do not expect CVAT affected somehow your user when updating.
You can try creating one more superuser account with ``python manage.py createsuperuser``  (see. installation guide) to access all your data. Then using admin panel you can change password for the previous user and login.

[2021-02-17 09:30] #2817 closed

[2021-02-17 14:37] yohayonyon opened #2825 "Enforce a minimun BB size"
### My actions before raising this issue
- [v] was told by @azhavoro that it does not exist
- [v] Searched [past issues](/issues)

### Expected Behaviour

Upon labels definition the user may define a minimum size for each label. After doing so, the annotators will not be able to save smaller BBs.

### Current Behaviour

There is no way to enforce a minimum size.

### Possible Solution

A field may

[2021-02-17 14:43] yohayonyon opened #2826 "Enforce annotation on specific frames"
### My actions before raising this issue
- [v] was told by @azhavoro that it does not exist
- [v] Searched [past issues](/issues)

### Expected Behaviour

### Current Behaviour

There is no way to enforce annotation on specific frames.

### Possible Solution

Upon task upload the user will supply a frames list. CVAT will mark them on the progress bar of the player. The annotator may jump among the

[2021-02-17 15:46] DmitriyOparin opened #2827 "[Bug] The 'ValueError: Unknown internal frame' error at dump annotations."
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
Annotations was downloaded.
Error message is not present.

### Current Behaviour
Annotations was not downloaded.
The 'ValueError: Unknown internal frame' error message is present.

### Possible Solution
Fix t

[2021-02-18 04:20] davodogster opened #2828 "IOG throws errors, won't work on localhost"
### My actions before raising this issue
Deploy Complete:
![image](https://user-images.githubusercontent.com/46079516/108304366-c5e18f80-720c-11eb-8fc6-64e308d14292.png)

![image](https://user-images.githubusercontent.com/46079516/108304430-e578b800-720c-11eb-8db5-3abf4bed193f.png)

![image](https://user-images.githubusercontent.com/46079516/108304743-86677300-720d-11eb-9ac2-627e4247aae2.png)

I'm

[2021-02-18 04:53] miseonkang commented on #2820
my problem is not related #2280. i am testing the work on the CVAT site(cvat.org). not localhost:8080 site.  I haven't installed cvat on my machine. Only logging into the site and testing.

[2021-02-18 05:00] nmanovic commented on #2820
@miseonkang ,

We have fixed the issue on CVAT.org. Could you please specify a task where it doesn't work? I will double check.

[2021-02-18 05:15] nmanovic commented on #2828
@davodogster , could you please send me logs of the IOG container? In the screenshot it is c3121fe...

[2021-02-18 05:47] miseonkang commented on #2820
When I run it on the site now, the auto anotation function is running. Thanks for fixing it.

May I ask you one more question,

I am installing cvat on local. While installing the semi-automation function, the nuctl-linux-1.5.16 version file in git bash is not installed due to the following problems.

chmod +x nuctl-linux-1.5.16

Command does not apply. How can this be solved?

./nuctl-1.5.16-linu

[2021-02-18 09:52] azhavoro commented on #2226
@plangenhuizen  I'll close the issue. Don't hesitate to reopen if the issue is still actual for you.

[2021-02-18 09:52] #2226 closed

[2021-02-18 10:00] yohann84L opened #2829 "[Feature request] Upload annotation from mounted volume"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

I asked on gitter if this feature is available. We invited me to propose this feature request.

### Requested Feature
In a task, be able to upload annotation from a mounted volume.

### Current Behaviour
We can currently only uploa

[2021-02-18 13:22] bsekachev commented on #2820
I see you try to add executable flag and run different files

[2021-02-18 17:00] vskubriev commented on #1611
Hello everyone. We a faced same issue on `d0b9481`. CVAT deployed at commit `d0b9481` approximately before release `v1.0.0`.

We are working on the annotation for about 6 months (the CVAT instance is the same, ~ 60 tasks and ~ 1150 jobs, each job contains 100 images). We come across this issue when:
a) Our data scientist tries to jump from the first image in the job to, for example, 80 ones or 90

[2021-02-18 19:47] #2807 closed

[2021-02-18 20:17] davodogster commented on #2828
@nmanovic Hope this helps. Let me know if you need anymore info.

![image](https://user-images.githubusercontent.com/46079516/108416264-55318600-7293-11eb-94a3-d7ab12958ea7.png)

[2021-02-19 00:27] #2385 closed

[2021-02-19 07:20] azhavoro opened #2832 "Delay in sending logs to Logstash"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

It looks like in case of a lot of log events (about about 1 million per day), python-logstash-async doesn't process them in time and keeps them in the queue. This leads events being pushed to logstash with a long delay(several hour

[2021-02-19 09:32] codeistpl commented on #2779
If this is a zip, why content is not comressed ?

[2021-02-19 09:34] eliethesaiyan commented on #297
@nmanovic , I am not able to display pytorch models in the auto-annotation dropbox, but I can see them on CVAT models list and have them marked `ready` as status in nuclio functions. I would appreciate it a lot if you could give some hints for debugging this issue!

[2021-02-19 09:37] codeistpl commented on #1524
Why this is not considered as a bug ? Is there any way to check that cvat stopped processing Task and you can go on with whatever you want ?

[2021-02-19 15:06] nmanovic commented on #297
@eliethesaiyan , which models you want to see and where? We have 3 pytorch serverless functions: https://github.com/openvinotoolkit/cvat/tree/develop/serverless/pytorch

2 of them for interactive segmentation (IOG and FBRS)
1 of them for tracking (SiamMask)

[2021-02-19 15:13] nmanovic commented on #1524
@codeistpl , to create a task you need several calls to REST API. First call will create an empty annotation task without data. After that you can upload data. Data upload is a long running task. Thus you have to check status of the request. You can look how it is implemented inside CLI: https://github.com/openvinotoolkit/cvat/blob/dc4760aeb1fbc0491bb642d51b0c8a1fe402ddf9/utils/cli/core/core.py#L8

[2021-02-19 16:12] ericmjl opened #2834 "Error: "Could not get formats from the server""
### My actions before raising this issue

- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

cc: @RaphaelThierry

### Expected Behaviour

Clicking on "Dump annotations" and "Export as a dataset" do nothing. We are referring to the following menu:

![image](https://user-images.githubusercontent.com/2631566/108529364-6766f0

[2021-02-19 18:32] jbrownkramer opened #2835 "Auto sync with dataset repository"
### My actions before raising this issue
- [ X ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [ X ] Searched [past issues](/issues)

### Expected Behaviour

Perhaps on a schedule or when annotations are saved, sync with the git repository holding your annotations if you have one configured.

### Current Behaviour

You have to navigate to the task and click s

[2021-02-19 18:36] jbrownkramer opened #2836 "Optionally push dataset repository to master"
### My actions before raising this issue
- [ X ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [ X ] Searched [past issues](/issues)

### Expected Behaviour

Press sync (or even better auto sync) and the git repository automagically updates to reflect the current tags.

### Current Behaviour

Manually have to merge the branch that gets pushed from CVAT.

###

[2021-02-20 01:06] eliethesaiyan commented on #297
@nmanovic , FBRS would be the one I want to see, i can see them here
![image](https://user-images.githubusercontent.com/6031044/108577055-09e6a880-7363-11eb-88b6-348461afcd49.png)
 in nuclio functions but  i couldnt load them here
![image](https://user-images.githubusercontent.com/6031044/108577122-40242800-7363-11eb-87f2-f0848936e344.png)

[2021-02-20 04:59] nmanovic commented on #297
@eliethesaiyan , you need to open the job and use "magic wand" to use it. FBRS is an interactive model. It can not be run as a detector on the whole task. It requires some input from you (at least one positive point).

![image](https://raw.githubusercontent.com/saic-vul/fbrs_interactive_segmentation/master/images/fbrs_interactive_demo.gif)

[2021-02-20 07:55] nmanovic commented on #2828
@davodogster , the error is shown in logs:

[code]

At the same time I see that in your first message the build was successful. Could you please run commands below?

[code]

Send all logs after commands above. The code above has to download IOG_PASCAL_SBD.pth from google drive. I believe on your machine it will fail silently.

[2021-02-20 09:27] #2230 closed

[2021-02-20 09:27] #2713 closed

[2021-02-20 11:49] DmitriyOparin opened #2839 "[Bug] Exception 'key must be a task identifier' does not handle."
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
Response returned with status code = 400 Bad Requests.

### Current Behaviour
Exception: 456 key must be a task identifier

### Possible Solution
Fix the bug.

### Steps to Reproduce (for bugs)
1. Create GET

[2021-02-20 12:39] DmitriyOparin opened #2840 "[Bug] The "AttributeError: 'NoneType' object has no attribute 'astype'\n" error at upload CamVid 1.0 annotations."
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

Error does not present.
Annotations uploaded.

### Current Behaviour

Error present.
Annotations did not upload.

### Possible Solution

Fix this bug.

### Steps to Reproduce (for bugs)

1. Create task with

[2021-02-20 16:17] DmitriyOparin opened #2841 "[Bug] Message "Error validating field attributes.0.values" displayed when is reopening created label."
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
Error message does not displayed.
Creating label can be save.

### Current Behaviour

Error message displayed.
Creating label can not be save.

### Possible Solution

Fix this bug.

### Steps to Reproduce (fo

[2021-02-20 18:29] waterfall414 opened #2843 "installation_automatic_annotation.md guide needs to update to reflect the path change in develop branch"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

installation_automatic_annotation guide needs to update to reflect the path change

### Expected Behaviour

Follow the guide and load dextr model into cvat
### Current Behaviour

nuctl complaints it can't find Python exe if I stric

[2021-02-21 02:14] waterfall414 opened #2844 "Internal Error 500 in automatic annotation with DEXTR"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

I am following this [guide](https://github.com/openvinotoolkit/cvat/blob/develop/cvat/apps/documentation/installation_automatic_annotation.md) to deploy DEXTR to the CVAT develop branch in a local platform. I ran into a Internal Er

[2021-02-21 15:06] yohayonyon commented on #2779
Well, I do not know. But executing "unzip out2" created a normal annotation file names "annotations.xml".
This issue may be closed.

[2021-02-21 16:12] ophir-oneview opened #2845 "Dump annotations in COCO format fails: Error: Request failed with status code 500. "KeyError: 'coco_instances'\n"."
_Hi first of all this project is amazing and very useful thanks:)_

### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

I am trying to download annotations in COCO format,
Click on Dump annotations pick COCO 1.0 should download the COCO.json file

### Current

[2021-02-21 16:57] nmanovic commented on #2843
@waterfall414 , thanks for the report. Do you think you can send us a PR with the fix inside documentation?

[2021-02-21 17:01] #2779 closed

[2021-02-21 17:13] arasharchor opened #2846 "Taking too long to load image, zoom in/out, edit points, etc - CVAT lags in working with aerial images."
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)
- [ ]
### Expected Behaviour
To be able to annotate aerial images easily similar to Qgis software.
I am annotating 100 aerial images with the size of 6000x8000px with more than 1000 objects and about 3000points.

### Current Behavio

[2021-02-21 17:49] nmanovic commented on #2846
@arasharchor , it is known that CVAT doesn't support well high resolution images for now. It has to be implemented. I believe we have a similar issue already: https://github.com/openvinotoolkit/cvat/issues/531

I don't think that it is a huge feature to implement. If somebody can contribute the feature, it will help.

The simplest workaround is to tile images outside CVAT and annotate tiles. Of co

[2021-02-21 17:56] arasharchor commented on #2846
@nmanovic
Thanks a lot for your prompt reply and sorry for overlooking the mentioned issue. I should have searched more.

At the moment, I am annotating the small images in cvat and stitch them in Qgis, but the problem is to merge polylines which can not be merged also a lot of time to spend to stitch the annotations to make sure of no gap on the image boundaries.

[2021-02-21 20:28] waterfall414 commented on #2843
@nmanovic, no problem. Just created one in https://github.com/openvinotoolkit/cvat/pull/2847

[2021-02-21 20:28] #2843 closed

[2021-02-21 20:28] davodogster commented on #2828
Hi @nmanovic

The Container just keeps restarting so I am unable to bash into it. (That was a docker images command above, not docker container ls)
![image](https://user-images.githubusercontent.com/46079516/108637197-80fc7800-74ee-11eb-8909-e4128a777276.png)

I will note that I had to use the curl "-k" arg for the model download in the .yaml file because otherwise I cannot download the .pth model

[2021-02-22 04:30] miseonkang commented on #2820
Is there any different file??
I downloaded it from the site here(https://github.com/nuclio/nuclio/releases/tag/1.5.16)
Are there any other download sites?

[2021-02-22 08:24] kunaltyagi opened #2848 "Expose interpolation as an API"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

Allow custom interpolations to be performed via API

### Expected Behaviour

There are several models that can track objects over multiple seconds. It makes sense to take advantage of them to reduce effort for annotation. An annota

[2021-02-22 13:51] bsekachev commented on #2820
@miseonkang

You apply ``chmod +x`` to file "nuctl-linux-1.5.16". Then you try to run "nuctl-1.5.16-linux-amd64". They have different names, don't they?

[2021-02-22 19:53] nmanovic commented on #2828
@davodogster , does it mean that you solve the problem using '-k' argument? Unfortunately, firewall is a complex topic. I'm not sure that we can solve it somehow (insecure connection isn't a valid solution for mainstream code). Do you have any common solutions in your mind which will cover your case as well?

[2021-02-22 23:43] miseonkang commented on #2820
i tried to chmod +x nuctl-linux-1.5.16.. that doesn't work.

chmod: cannot access 'nuctl-linux-1.5.16': No such file or directory

[2021-02-23 00:49] zmfkzj opened #2849 "'reduce_task_visibility' option not applied"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

1. I set settings.RESTRICTIONS['reduce_task_visibility']=True and  signed in with an unauthorized account. I can see and change everything, that is, the settings do not apply.
2. Job assignee list changes every refresh.

### Expect

[2021-02-23 08:09] miseonkang commented on #2820
so i install ubuntu 16.04  cvat..
success install nuctl..

but i have error message like this  (when install   =>   nuctl deploy --project-name cvat \
  --path serverless/openvino/dextr/nuclio \
  --volume `pwd`/serverless/openvino/common:/opt/nuclio/common \
  --platform local)

21.02.23 07:54:17.485 cessor.healthcheck.server (I) Listening {"listenAddress": ":8082"}
21.02.23 07:54:17.485

[2021-02-23 08:20] fengyach opened #2851 "Export error when there are invalid polygons in the overlapping frames (shapely.errors.TopologicalError)"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour

Export of the datasets should go through without any issues.

### Current Behaviour

When there are invalid polygons in the overlapping frames, a notification pops out stating the export cannot be done, and

[2021-02-23 09:27] ophir-oneview commented on #2845
`Docker logs cvat ` output:
[code]

[2021-02-23 12:18] abisz commented on #1239
I'm facing the same problem. Is there an update from anyone how to solve this?

[2021-02-23 14:48] AlexandrMoruk commented on #2820
I have version 1.5.16 but still the problem
[code]
Maybe I didn't write the correct path?
Version:
nuctl version
Client version:
[code]

[2021-02-23 20:03] davodogster commented on #2828
hi @nmanovic I have to use -k to get the curl command to work, and the container to deploy, but it doesn't fix everything because the container just keeps restarting when I deploy it and it gives the error logs that I attached above.

[2021-02-24 00:50] miseonkang commented on #2820
So, what version can be installed to use the Semi-automatic and Automatic Annotation tool?

Can I install a lower version?

[2021-02-24 01:56] jahaniam commented on #2612
@zhiltsov-max so basically everything will be unknown in PASCAL format?!
I was expecting the annotation points to be exported at least!

[2021-02-24 04:35] leeyh20 commented on #317
Will this feature be added anytime soon? This is a great feature to have

[2021-02-24 05:48] azhavoro commented on #1239
@abisz Hi, task creation process can fail with 500 error for many reasons, please create a new issue, provide steps to reproduce and attach logs from docker container: `docker logs cvat> cvat.log`

[2021-02-24 06:07] DmitriyOparin commented on #2473
@nmanovic, yes, sure

[2021-02-24 07:07] eliethesaiyan commented on #297
@nmanovic, thank you very much, I was not aware of this feature, I just tried it indeed and it seems to work!
I have a different interface compare to the one that is in this gif you`ve referenced, is loaded through OpenCV?

[2021-02-24 07:18] AeolusTech commented on #639
For anyone else encountering this problem - the fix is really easy, but **it's not stated anywhere** in the "User Guide" (as of February 24th 2021). Only a user assigned an admin role in the Django administration panel can create new tasks. Log in as a superuser and assign it properly. Hope that helps :)

[2021-02-24 08:04] bsekachev commented on #639
@AeolusTech

It is not exactly true. CVAT has different user groups: admins, users, annotators, observers.
Tasks can be created by a user who belongs to one admins or users.

[2021-02-24 08:46] nmanovic commented on #2845
@yasakova-anastasia , could you please look at the issue?

[2021-02-24 08:54] azhavoro commented on #2849
@zmfkzj Most likely you did not rebuild the cvat images

[2021-02-24 08:56] nmanovic commented on #2844
@waterfall414 , which version of CVAT UI do you have? Could you please run `docker-compose ... build` and `docker-compose ... up` commands again for the latest develop build?

The model works fine on CVAT.org. Looks like the old version of CVAT UI sends data without pos_points in the request.

[2021-02-24 08:57] nmanovic commented on #2840
@yasakova-anastasia , could you please investigate?

[2021-02-24 08:59] nmanovic commented on #2839
@azhavoro , could you please take care of the problem?

[2021-02-24 08:59] AeolusTech commented on #639
Thank you for a very quick reply, Boris! I am just starting with CVAT

[2021-02-24 08:59] azhavoro commented on #2569
No response for a long time, let's close the issue, @tankienleong don't hesitate to reopen if this issue is still actual to you.

[2021-02-24 08:59] #2569 closed

[2021-02-24 09:03] nmanovic commented on #2834
@ericmjl , you need to look at swagger documentation for your instance. For example, https://cvat.org/api/swagger/. You will see that actually /api/v1/server/dataset/formats exists. If you cannot provide steps to reproduce, we will not be able to help here.

Please provide instructions to reproduce, otherwise we will close the issue after some time.

[2021-02-24 09:05] nmanovic commented on #2827
@zhiltsov-max , could you please look at the issue?

[2021-02-24 09:06] nmanovic commented on #2769
@DmitriyOparin , could you please prepare a PR for the bug?

[2021-02-24 09:08] nmanovic commented on #911
@egrinstein , probably we can mention that there are multiple options: develop branch, a stable release, etc. I agree, need to modify documentation.

Could you please help us to improve documentation and prepare a PR?

[2021-02-24 09:09] azhavoro commented on #2835
Hi, should work as you described, there is a separate process for this https://github.com/openvinotoolkit/cvat/blob/develop/supervisord.conf#L38.
Could you check the container logs for errors? `docker logs cvat > cvat.log`

[2021-02-24 09:16] nmanovic commented on #1630
@aschernov , could you please help us to improve documentation? Let's organize a meeting to discuss specific steps.

https://pages.github.com/

[2021-02-24 09:21] ophir-oneview commented on #2845
Hi @nmanovic,
Thanks for the reply.
I tried to upgrade to the HEAD on develop branch and it looks like it fixes the bug.
commit: 268abcbe51fdc6b699e9964fadfd8cb271667cbc
Not sure what it was probably some commits before :) ...

Ophir

[2021-02-24 09:23] DmitriyOparin commented on #2769
@nmanovic, yes, I will fix this error

[2021-02-24 11:58] nmanovic commented on #2820
@miseonkang ,

- please run `nuctl version` command and post output
- please post here exact command which you are using to deploy a serverless function and its output. For example, in my case

[code]

[code]

[2021-02-24 12:04] nmanovic commented on #2845
@ophir-oneview , thanks for the feedback. We will close the issue in this case.

[2021-02-24 12:04] #2845 closed

[2021-02-24 12:16] #2767 closed

[2021-02-24 12:17] AlexandrMoruk commented on #2820
[code]
[code]
Then a very long log output. The end of the output looks like this:
[code]

[2021-02-24 12:23] nmanovic commented on #2820
If you find the command in documentation, need to update it. The path to the volume wasn't correct. Please use the command below:

[code]

Also it is better to use scripts inside serverless directory. They should work out of the box: `./deploy_cpu.sh`

[2021-02-24 12:27] AlexandrMoruk commented on #2820
Thank you very much, i did as you said above and it worked
[code]

[2021-02-24 12:31] Kpraetori opened #2859 "Deleted tasks and dataset exports use up Docker space"
### My actions before raising this issue
- [X ] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [X ] Searched [past issues](/issues)
- [X] Checked & asked on Gitter

The issues relate to space use from CVAT operations. When I delete a task, it makes no change to the amount of space allocated to Docker. Also, when I attempt to export a dataset, space is used in

[2021-02-24 13:06] AlexandrMoruk commented on #2844
Ffbrs is not working on cvat.org too
![image](https://user-images.githubusercontent.com/37121765/109004791-e3ea3c80-76b1-11eb-8a14-f46a08f717e2.png)

[2021-02-24 14:48] nmanovic commented on #2859
@azhavoro ,  could you please investigate the issue?

[2021-02-24 17:42] jbrownkramer commented on #2835
I was able to manually sync with the repo.  What should I be looking for in the logs?  I got some of these:

[code]

Should I expect synching on a schedule or syncing when annotations are saved or both?

[2021-02-24 20:49] iraadit opened #2862 "Add possibility to not copy files when using share files and cli"
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched #2377 #204

### Expected Behaviour
PR #2377 will allow to not copy files inside CVAT when creating a task using share files.
It should be possible to do it through cli too.

### Current Behaviour
Impossible to use the cli to not copy files inside CVAT whe

[2021-02-24 21:06] tralfamadude commented on #2263
I tried what @ChrisCurrin suggests and it did not work for ver. 3.3. Previously I tried what is documented in https://github.com/openvinotoolkit/cvat/blob/master/cvat/apps/documentation/installation.md#share-path

The symptom of "did not work" is that when trying to create a task, I pick Connected File Share tab and I see "No data".

It would be nice to have a command to validate the setup to come

[2021-02-25 00:13] miseonkang commented on #2820
i run nuctl version`

**user01@kmsDeepServer01:~/cvat$ nuctl version
Client version:
"Label: 1.5.16, Git commit: ae43a6a560c2bec42d7ccfdf6e8e11a1e3cc3774, OS: linux,**

user01@kmsDeepServer01:~/cvat/serverless$ ./deploy_cpu.sh openvino/dextr/
Deploying openvino/dextr function...
21.02.25 09:02:14.011                     nuctl (I) Deploying function {"name": ""}
21.02.25 09:02:14.011

[2021-02-25 00:18] miseonkang commented on #2820
Installation was successful.

However, if you do DEXTR in task task at localhost:8080, the following message appears.

How to fix this error? ??

![image](https://user-images.githubusercontent.com/19848787/109084058-61fa2200-774a-11eb-8ac4-72b67f82521c.png)

[2021-02-25 04:57] waterfall414 commented on #2844
Thanks for the reply @nmanovic . I tried the develop branch a few days ago. I am sure I had built and then docker-compose up. I will first try to pull the latest develop and get back to you if the problem persists.

[2021-02-25 06:54] azhavoro commented on #2674
@petervanya Hi, did you resolve this issue?

[2021-02-25 07:25] MaloM-CVision commented on #2754
@azhavoro can you explain how to do it ? thanks

[2021-02-25 09:01] ErikOrjehag commented on #1092
@svenvanbuurennl Thank you very much, do you know if this temporary solution has any side effects? For example breaking the GUI way of adding images to the task?

[2021-02-25 11:53] #2769 closed

[2021-02-25 12:42] AlexandrMoruk commented on #2820
I have same problem. I think the difference is in the requests tnat the CVAT send.
On CVAT.org request for fbrs looks like:
![image](https://user-images.githubusercontent.com/37121765/109154480-0003e180-7777-11eb-9823-51732e1261e2.png)

But on localhost it is different:
![image](https://user-images.githubusercontent.com/37121765/109154625-3b061500-7777-11eb-9d93-a9925ddb7148.png)
and i get 500 err

[2021-02-25 12:50] bsekachev commented on #2820
@AlexandrMoruk

Looks like your localhost wasn't updated.
Send us a version: user dropdown at top right corner -> About

[2021-02-25 12:53] bsekachev commented on #2820
You can also try to update page with enabled checkbox "Disable cache". JS page you use, theoretically might be cached by a browser (with old version)

![Screenshot from 2021-02-25 15-51-47](https://user-images.githubusercontent.com/40690378/109156024-67269380-7781-11eb-8e1e-d59a4bf1599e.png)

[2021-02-25 12:54] AlexandrMoruk commented on #2820
like the latest version
![image](https://user-images.githubusercontent.com/37121765/109156249-49553080-7779-11eb-94b8-38e42afcd761.png)

[2021-02-25 12:59] AlexandrMoruk commented on #2820
Yesterday the fbrs on cvat.org also did not work, maybe something was fixed there?

[2021-02-25 13:02] azhavoro commented on #2820
@AlexandrMoruk If you use develop branch you should build images with `docker-compose -f docker-compose.yml -f docker-compose.dev.yml build` command. Only release images v1.2.0 are available on the Dockerhub.

[2021-02-25 13:28] AlexandrMoruk commented on #2820
@azhavoro I executed the command
[code]
then
[code]
Version:
![image](https://user-images.githubusercontent.com/37121765/109159817-bd91d300-777d-11eb-8435-e06387a61af5.png)
Error:
![image](https://user-images.githubusercontent.com/37121765/109159985-ec0fae00-777d-11eb-829d-3c735cdfb12a.png)
request:
![image](https://user-images.githubusercontent.com/37121765/109160082-05185f00-777e-11eb-9358-37bec

[2021-02-25 14:09] zhiltsov-max commented on #2612
Pascal VOC has an official specification for their format, it is not supposed to be used with `Point` annotations. We could implement some kind of extension, but it will be incompatible with any other tool.

You can use other formats to export point annotations, which are `CVAT`, `COCO` ([instruction](https://github.com/openvinotoolkit/datumaro/issues/52#issuecomment-726077582)), `Datumaro`. The o

[2021-02-25 15:51] bsekachev commented on #2851
Hi, @fengyach

Do you happen to know how can we create "invalid" polygon on UI?

[2021-02-25 15:56] bsekachev commented on #2844
@waterfall414

Please, be acquainted with [this](https://github.com/openvinotoolkit/cvat/issues/2820#issuecomment-785878639 ) reply also.

[2021-02-25 18:08] fengyach commented on #2851
@bsekachev   Hello! thank you very much for your comment! I have an example here:
![image](https://user-images.githubusercontent.com/7123627/109196943-a7dfd600-779c-11eb-8f5f-cebeb0d456af.png)

Also,[ I have created a PR related to the issue](https://github.com/openvinotoolkit/cvat/pull/2852), some sort of 'quick fix', would it be possible if you could check it out as well?
Much much obliged!

[2021-02-25 18:30] bsekachev commented on #2851
Okay, got it.

If we speak about polygons with intersections, they are legal in CVAT (at least we cannot call them invalid) and we should not prevent creating them on UI.
I saw the PR but probably it should be reviewed by @zhiltsov-max  or @yasakova-anastasia because I mightn't have enough expertise in this code.

[2021-02-26 02:22] tralfamadude commented on #2677
I have this same error when using png files (no zip). After I created a share that maps to a host level dir, I made a bash shell in the container to look at /home/django/share running as user django; surprisingly, I could not list the dir and the ownership was unusual:

drwxrwxr-- 3   1004    128 4096 Feb 26 00:29 share

Obviously, if a user and group show up as numbers here, that means they are n

[2021-02-26 03:38] sajadalipour commented on #2747
I solved this problem.
For creating a task, you must define labels exclusively for that task and the task must not belong to any project.

[2021-02-26 06:19] azhavoro commented on #2677
@tralfamadude there is no documentation issue, this should be fixed on CVAT server code. I believe read permissions for the share should be enough, but currently this does not work for archives.
@vnishukov Could you please discuss this with the 3D feature developers?

[2021-02-26 07:21] nmanovic commented on #1446
#1630 related

[2021-02-26 10:24] dvkruchinin opened #2873 "The doubling of the cuboids to redraw."
### My actions before raising this issue
- [x] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [x] Searched [past issues](/issues)

### Expected Behaviour
When redrawing the cuboid, the number of shape does not increase.

### Current Behaviour
When redrawing the cuboid, the shape is doubled.

### Possible Solution
Fix the bug.

### Steps to Reproduce (for bugs)

[2021-02-26 10:26] bsekachev commented on #2873
@vnishukov

Please, look at the issue. Need to fix it till March, 31st.

[2021-02-26 11:34] #2799 closed

[2021-02-26 17:13] iraadit commented on #2859
Hi, I have the exact same problem.
I uploaded and deleted hundred of tasks several times (upload through cli, delete through Django admin interface).
My disk space is now saturated,

I don't know what this container is but here is what I get when executing `docker inspect` on it:

Task data should be deleted when tasks are deleted.
How can I now manually delete this data? Is there a way or should

[2021-02-26 17:25] iraadit commented on #2859
After more research, it seems the docker container taking up a lot of space in my case would be `quay.io/nuclio/dashboard:1.5.8-amd64` (Installed with nuclio for automatic object detection I guess).
Could it therefore be a separate problem?

[2021-02-26 17:54] bobrolmil commented on #2342
Hello, i am trying to export video as jpg dataset with datum export  -f yolo -- --save-images --image-ext='.jpg' and i getting ERROR: 'ProjectDataset' object has no attribute 'export', any ideas whats wrong? Thanks

[2021-02-26 18:48] zhiltsov-max commented on #2342
@bobrolmil, hi, fixed [here](https://github.com/openvinotoolkit/datumaro/pull/119)

[2021-02-26 19:25] christianburbon commented on #2047
I'm still new to this and cannot resolve this issue.

I ran into same issue of "No such container: cvat"
However, when I re-ran docker-compose up -d, I get error message "error creating temporary  lease: write /var/lib/desktop-containerd/daemon/io.containerd.metadata.v1.bolt/meta.db read-only file system: uknown"
![Screenshot 2021-02-27 052422](https://user-images.githubusercontent.com/62530849/10

[2021-02-26 22:26] bobrolmil commented on #2342
@zhiltsov-max Thank you very much!

[2021-02-26 23:32] tralfamadude commented on #2848
I would like to add that there are many simpler things that would be useful as an API.

In my case, I really would like an API that could inspect project, tasks, jobs, and fetch annotations. It could start out being just API analogues of those operations in the web UI. Examples: Get list of tasks that are completed, or  Fetch annotations for a particular task.

[2021-02-27 10:10] berruk commented on #1959
Looks like it is down again. When could we be able to reach the website?

[2021-02-27 11:40] bsekachev commented on #1959
@berruk

Thank for the notification. We are working on the issue.

[2021-02-28 15:33] #1839 closed

[2021-03-01 03:01] davodogster commented on #2828
Hi @nmanovic
Now I can get the container running and not restarting, But in the CVAT tool it still gives the same error as previously.

![image](https://user-images.githubusercontent.com/46079516/109446654-f647ea00-7aa6-11eb-9000-a61358b18531.png)

![image](https://user-images.githubusercontent.com/46079516/109446715-0d86d780-7aa7-11eb-82c6-1d3694037ca8.png)

Nuclio is running here:
![image](https

[2021-03-01 10:07] SaihholdChiu opened #2884 "Is there any new feature in this version?"
As the title.

[2021-03-01 11:17] bsekachev commented on #2884
Please, refer to [CHANGELOG](https://github.com/openvinotoolkit/cvat/blob/develop/CHANGELOG.md) to get to know about new features.

[2021-03-01 11:17] #2884 closed

[2021-03-01 12:13] LukeAI opened #2886 "bug when saving annotations over LAN: timeout"
### My actions before raising this issue
- [X] Read/searched [the docs](https://github.com/opencv/cvat/tree/master#documentation)
- [X] Searched [past issues](/issues)

We are getting an odd persistent bug with a local CVAT install when trying to save annotations. This was present in CVAT 1.2 and 1.0

CVAT is installed on a local server, when accessed across the Internet, no problems are experienc

[2021-03-01 13:15] #2823 closed

[2021-03-01 16:17] sonuranjitjacob commented on #1925
Hi, I'm facing the same issue. On navigating to the cvat_cvat_data folder on my system, I can still see the job ids of the tasks I had already deleted as shown below and this takes up most of the space on my system as well.

[code]

[2021-03-02 03:31] kgloveyou commented on #634
@curiosity2 , 你好，想了解下cvat中是如何做ocr标注的？怎么输入人工识别的文字呢？

[2021-03-02 04:47] miseonkang commented on #2844
![image](https://user-images.githubusercontent.com/19848787/109598961-b1cb5580-7b5d-11eb-8bfe-347ff407e196.png)

i tried to docker-compose ... build and docker-compose ... up commands again and then DXTR again.

but still error message....like this

![image](https://user-images.githubusercontent.com/19848787/109599046-e17a5d80-7b5d-11eb-9a52-3013e376bea1.png)

[2021-03-02 05:09] bsekachev commented on #2844
@miseonkang

Please, be sure you specified additional file when rebuild like in comment I referenced above.

Otherwise image will be fetched from docker hub and it does not contain necessary fixes yet.

[2021-03-02 07:51] monkeycc opened #2892 "cvat_proxy ... error"
Status: Downloaded newer image for nginx:stable-alpine
Creating cvat_redis ... done
Creating cvat_db    ... done
Creating cvat       ... done
Creating cvat_ui    ... done
Creating cvat_proxy ... error

ERROR: for cvat_proxy  Cannot start service cvat_proxy: failed to create endpoint cvat_proxy on network cvat_default: failed to add the host (vethf730fa1) <=> sandbox (veth95d5f7e) pair interfaces:

[2021-03-02 07:53] azhavoro commented on #2892
@monkeycc Please specify your environment

[2021-03-02 08:05] azhavoro commented on #2886
Did you tried to save the annotation one more time? Also please obtain the full error message of the failed request in the browser console, I suppose it will be 50x error code.
If you specified CVAT_HOST: MY_DOMAIN, you can access your cvat host over the Internet regardless of whether clients are on the same local network or not. Please provide details about the failed save annotation request.

[2021-03-02 08:59] Rose-we commented on #2873
why become double polygons in cvat annotation when I draw just one polygon and go to next frame... Step back to frame it become double ? Any solution

[2021-03-02 09:03] bsekachev commented on #2873
@Rose-we

If you believe it is a bug, please create another issue and provide more information:
- Git hash commit
- Exact steps to reproduce
- Does it happen stable or sometimes?
- Gif with reproducing
Etc. We will try to investigate.

[2021-03-02 12:55] vnishukov opened #2894 "Update cvat-core/tests/internal/filter.js with new annotation filters functionality"
This test was deleted in https://github.com/openvinotoolkit/cvat/pull/2871 because of completely new filters realization

[2021-03-02 16:17] monkeycc opened #2896 "context "ompose" does not exist"
**docker-compose down**
Stopping cvat_ui    ... done
Stopping cvat       ... done
Stopping cvat_proxy ... done
Stopping cvat_db    ... done
Stopping cvat_redis ... done
Removing cvat_ui    ... done
Removing cvat       ... done
Removing cvat_proxy ... done
Removing cvat_db    ... done
Removing cvat_redis ... done
Removing network cvat_default

**docker -compose -f docker-compose.yml -f components /

[2021-03-02 16:23] monkeycc commented on #2892
Linux version 5.10.5-amd64-desktop+ (deepin@deepin-PC) (gcc (Uos 8.3.0.3-3+rebuild) 8.3.0, GNU ld (GNU Binutils for Uos) 2.31.1) #1 SMP Mon Jan 11 14:55:28 CST 2021

cat /etc/debian_version
10.7

cat /etc/os-release
PRETTY_NAME="Deepin 20.1"
NAME="Deepin"
VERSION_ID="20.1"
VERSION="20.1"
ID=Deepin
HOME_URL="https://www.deepin.org/"
BUG_REPORT_URL="https://bbs.deepin.org/"

uname -a
Linux mmmm-PC 5

[2021-03-02 17:26] LukeAI commented on #2886
If I try to save again (after refreshing in the browser) it will often work. This error just occurs randomly - quite a few annotators have complained about it running a few different OS's - I advise everybody to use Chrome (is that still a recommendation?) some have reported firefox to be more stable but may be a coincidence.

What I have written here is the full error message. yes, typing MY_DOMA

[2021-03-02 17:55] azhavoro commented on #2892
CVAT supports only Ubuntu only Linux distro and I'm sure that is not CVAT issue, so please make sure that Docker is correctly installed on your system and works well, try to run `docker run hello-world`. The `cvat_proxy` container is just Nginx image with specific config, so try to run Nginx container https://hub.docker.com/_/nginx with ` docker run --name some-nginx -d -p 8080:80 some-content-ngi

[2021-03-02 17:57] azhavoro commented on #2896
Please fill the issue template with exact steps to reproduce your issue on Ubuntu Linux

[2021-03-02 18:14] azhavoro commented on #2886
Try to save the annotation several times without reloading the browser tab.

When this error occurs, open browser developer tools and go to the Console tab, you should receive an error message about a failed attempt to save the annotations.

[2021-03-02 18:45] lgg commented on #2896
You miss typed and have redundant space here
![image](https://user-images.githubusercontent.com/12018713/109698510-87e75280-7ba0-11eb-8c9f-21bb5a4e9530.png)

`docker -compose -f docker-compose.yml -f components / serverless / docker-compose.serverless.yml up -d`

You typed: `docker -compose` instead of `docker-compose`

[2021-03-02 18:45] lgg commented on #2896
@monkeycc please, close this issue

[2021-03-02 19:05] bsekachev commented on #2896
Thank you @lgg

@monkeycc I will close the issue.

[2021-03-02 19:05] #2896 closed

[2021-03-03 00:36] miseonkang commented on #2844
How do I specify additional files?

I have already installed all the nuctl related files as shown in the image below, and they appear in the dashboard as they are.

![image](https://user-images.githubusercontent.com/19848787/109734151-db3ebc80-7c03-11eb-8e54-2b5525da4bb2.png)

[2021-03-03 05:44] monkeycc commented on #2896
https://github.com/openvinotoolkit/cvat/blob/develop/cvat/apps/documentation/installation_automatic_annotation.md

To bring up cvat with auto annotation tool, from cvat root directory, you need to run:

docker-compose -f docker-compose.yml -f components/serverless/docker-compose.serverless.yml up -d
If you did any changes to the docker-compose files, make sure to add --build at the end.

[2021-03-03 06:11] bsekachev commented on #2844
@miseonkang

These commands to build CVAT from develop branch with the latest changes:
``git pull origin develop``
``docker-compose -f docker-compose.yml -f docker-compose.dev.yml up -d --build``

Also you can try running ``deploy_cpu/gpu.sh`` script again if it still does not work.